.A_MenuSearch {
  width: 540px;
  height: 50px;
  border-radius: 40px;
  border: 2px var(--orange) solid;
  background-image: url('../../images/Q_Search.svg');
  background-repeat: no-repeat;
  background-color: var(--cream);
}
