.A_MenuSearch {
  width: 18.7vw;
  height: 2.34vw;
  border: 0.104vw solid var(--orange);
  border-radius: 2.083vw;
  font-size: 1.25vw;
  padding: 0.781vw;
  background-image: url('../src/images/Q_Search.svg'),
    url('../src/images/Q_TriangleDown.svg');
  background-repeat: no-repeat;
  background-position: left 1.25vw top 0.77vw, left 16.6vw top 0.77vw;
  background-size: 0.78vw 0.83vw;
  background-color: var(--cream);
}
