.C_VerticalScrollingButtons {
  position: fixed;
  margin: 45vw 0vw 0vw 87vw;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.C_SocialNetworksButtons {
  display: flex;
  width: fit-content;
  column-gap: 17px;
}

// Card Tags
.C_CardTags {
  display: flex;
  column-gap: 10px;
}

.C_CategoriesButtons {
  display: flex;
  column-gap: 10px;
}

.C_5Cards {
  display: flex;
  column-gap: 20px
}

.C_3Cards {
  display: flex;
  column-gap: 20px
}

.C_AdditionalCardsBlock {
  display: flex;
  width: fit-content;
  column-gap: 20px;
}

.C_TwoArticlePhotos {
  display: flex;
  column-gap: 20px;
}
