.C_CategoryTags,
.C_Cards,
.C_SocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.C_Dots {
  width: 9.9vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
