.M_LookMore {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.M_SectionHead,
.M_BlockAuthorsArticles_Card_Information {
  display: flex;
  justify-content: space-between;
}
.M_SectionHead {
  margin-bottom: 2.5vw;
}
.M__BlockAuthorsArticles_Card_Information {
  display: flex;
  flex-direction: column;
}
.M_Footer_Links_Chapters,
.M_Footer_Links_Subscription {
  margin-left: 14vw;
}
