// Navigation text menu

.M_MenuNavigation {
  display: flex;
  gap: 60px;
}

// Navigation logotype with label

.M_NavigationLogotype {
  display: flex;
  column-gap: 10px;
}

// Categories button with arrows

.M_ButtonTags {
  display: flex;
  margin: 40px 0px 60px 0px;
  column-gap: 60px;
  justify-content: center;
}

// Blockqoute sections

.M_Blockquote {
  display: flex;
  margin: 0px 0px 0px -7.292vw;
  padding: 60px 23.646vw;
  width: 117%;
  flex-direction: column;
  row-gap: 30px;
  background-color: var(--beige);
  border-radius: 30px;
  font-family: 'Golos Text', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 135%;
}

// Comment from telegram

.M_Comments {
  width: 52.708vw;
}

// Tag block with time

.M_TextAndTag {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 522px;
  height: 181px;
  border-radius: 20px;
  justify-content: space-between;
}

// Cards

.M_Card4to8Column {
  width: 42.188vw;
  border-radius: 30px;

  &.Instruction {
    display: flex;
    padding: 20px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    &.BeigeCombination {

      &#instruction3 {
        background: no-repeat center/cover url('../src/images/cards/Card4to8Column/internet.png'), var(--beige);
      }
    }

    &.CreamCombination {

      &#instruction1 {
        background: no-repeat center/cover url('../src/images/Q_CardBackground1.png'), var(--cream);
      }
    }

    h3 {
      width: 24.635vw;
    }
  }

  &.Checklist {
    display: flex;
    padding: 0px 20px 0px 0px;
    width: 810px;
    height: 200px;
    row-gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;

    h3 {
      width: 325px;
      padding: 20px 0px 0px 0px;
    }
  }

  &.Question {
    display: flex;
    padding: 30px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 20px;

    &#question1 {
      background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/Q_CardBackground2.png');
    }

    >.A_Button:hover {
      background: var(--orangehover);
    }
  }
}

.M_Card2to8Column {
  width: 20.57vw;
  border-radius: 30px;

  &.Instruction {
    display: flex;
    padding: 20px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    &.BeigeCombination {

      &#instruction1 {
        background: no-repeat center/cover url('../src/images/cards/Card2to8Column/utilities.png'), var(--beige);
      }
      //
      &#instruction2 {
        background: no-repeat center/cover url('../src/images/cards/Card2to8Column/zaplatka.png'), var(--beige);
      }

      &#instruction4 {
        background: no-repeat center/cover url('../src/images/cards/Card2to8Column/stul.png'), var(--beige);
      }

      &#instruction5 {
        background: no-repeat center/cover url('../src/images/cards/Card2to8Column/eggs.png'), var(--beige);
      }

      &#instruction6 {
        background: no-repeat center/cover url('../src/images/cards/Card2to8Column/pochta.png'), var(--beige);
      }

      &#instruction7 {
        background: no-repeat center/cover url('../src/images/cards/Card2to8Column/notebook.png'), var(--beige);
      }
    }

    &.CreamCombination {

      &#instruction1 {
        background: no-repeat center/cover url('../src/images/Q_CardBackground1.png'), var(--cream);
      }
    }

    h3 {
      width: 330px;
    }
  }
}

.M_Card4To10Column {
  width: 644px;
  border-radius: 30px;

  &.Video {
    display: flex;
    padding: 20px;
    height: 360px;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 14px;

    &#video1 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(208, 109, 59, 0.5) 78.42%),
        no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');
    }
  }

  h3 {
    width: 473px;
    color: var(--cream);
  }

  .W_VideoTime {
    display: flex;
    margin: -40px 0px 0px 0px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    column-gap: 2px;
    align-items: center;
    color: var(--beige);
    justify-content: flex-end;
  }
}

.M_Card2To10Column {
  width: 16.23vw;
  border-radius: 30px;

  &.Video {
    display: flex;
    padding: 20px;
    height: 360px;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 14px;

    &#video1 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(208, 109, 59, 0.5) 78.42%),
        no-repeat center/cover url('../src/images/postbanner/video1.png');
    }

    &#video2 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(208, 109, 59, 0.5) 78.42%),
        no-repeat center/cover url('../src/videos/PumpkinDinnerPreview.png');
    }
  }

  h3 {
    width: 272px;
    color: var(--cream);
  }

  .W_VideoTime {
    display: flex;
    margin: -40px 0px 0px 0px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    column-gap: 2px;
    align-items: center;
    color: var(--beige);
    justify-content: flex-end;
  }
}

.M_Card5To5Column {
  width: 85.417vw;
  border-radius: 30px;

  &.Video {
    display: flex;
    padding: 20px;
    height: 360px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 20px;

    &#video1 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(208, 109, 59, 0.5) 78.42%),
        no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');
    }
  }

  &.Banner {
    display: flex;
    padding: 20px;
    height: 600px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 20px;

    &.OrangeGradient {

      &#article1 {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.93%, rgba(237, 109, 47, 0.7) 78.42%),
          no-repeat center/cover url('../src/images/postbanner/article1.png');
      }
    }

    &.YellowGradient {

      &#banner1 {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.93%, rgba(240, 191, 13, 0.7) 78.42%),
          no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');
      }
    }

    &.BlueGradient {

      &#instruction1 {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.93%, rgba(135, 170, 255, 0.7) 78.42%),
          no-repeat center/cover url('../src/images/postbanner/instruction1.png');
      }
    }
  }

  h1 {
    color: var(--cream);
  }

  h2 {
    color: var(--cream);
  }
}

.M_Card3to9Column {
  width: 27.760vw;
  border-radius: 30px;

  &.Article {
    display: flex;
    padding: 0px 30px 30px 30px;
    height: 440px;
    flex-direction: column;
    row-gap: 16px;
  }
}

.M_AdditionalCard {
  display: flex;
  flex-direction: column;
  height: 160px;
  border-radius: 30px;
  padding: 20px;
  justify-content: space-between;

  &.Card3to10Column {
    width: 24.896vw;

    h4 {
      width: 22.813vw;
    }
  }

  &.Card3to9Column {
    width: 27.760vw;

    h4 {
      width: 25.625vw;
    }
  }
}

// Post banner

.M_PostBanner {
  width: 85.417vw;
  height: 586px;
  border-radius: 30px;
  padding: 20px;

  &#instruction1 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/instruction1.png');
  }

  &#instruction2 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/instruction2.png');
  }

  &#instruction3 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/instruction3.png');
  }

  &#instruction4 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/instruction4.png');
  }

  &#instruction5 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/instruction5.png');
  }

  &#instruction6 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/instruction6.png');
  }

  &#instruction7 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/instruction7.png');
  }

  &#article1 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/article1.png');
  }

  &#article2 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/article2.png');
  }

  &#article3 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/article3.png');
  }

  &#article4 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/article4.png');
  }

  &#article5 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/article5.png');
  }

  &#article6 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/article6.png');
  }

  &#checklist1 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/Q_CardBackground2.png');
  }

  &#video1 {
    background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/postbanner/video1.png');
  }
}

// Video banner

.M_VideoBanner {
  width: 85.417vw;
  height: 647px;
  border-radius: 30px;
  padding: 20px;

  > .C_Categories {
    position: absolute;
  }
}

// Email form

.M_MailBlock {
  display: flex;
  padding: 60px 24.010vw;
  width: 100%;
  border-radius: 30px;
  flex-direction: column;
  row-gap: 40px;

  .W_MailFormText {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  h2, p {
    width: 37.396vw;
  }

  p {
    font-size: 22px;
    line-height: 135%;
  }
}

.M_MailForm {
  display: flex;
  column-gap: 30px;
}

.A_MailInput {
  display: inline-block;
  width: 29.167vw;
  height: 46px;
  border-radius: 30px;
  border: none;
  padding: 0px 30px;
}

// Search form

.M_SearchForm {
  display: flex;
  padding: 0px 30px 0px 0px;
  column-gap: 30px;
  border-radius: 30px;

  >.A_CircleButtons:hover {
    background-color: var(--beige);
  }
}

.A_SearchInput {
  display: inline-block;
  width: 300px;
  height: 46px;
  border-radius: 30px;
  border: none;
  padding: 0px 30px;
}

.M_PostAuthor {
  display: flex;
  width: 14.896vw;
  column-gap: 20px;
  align-items: center;

  >.A_Avatar {
    width: 66px;
    height: 66px;
  }
}
