.M_MenuNavigation {
  display: flex;
  gap: 60px;
}

.M_NavigationLogotype {
  display: flex;
  column-gap: 10px;
}

.M_Search {
  display: flex;
  width: 406px;
  height: 46px;
  border-radius: 40px;
  border: none;
  background-color: var(--beige);
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;

  > input {
    width: 280px;
  }
}

.M_ButtonTags {
  display: flex;
  column-gap: 60px;
  justify-content: center;

  .C_CategoriesTags {
    display: flex;
    column-gap: 10px;
  }
}

.M_Blockquote {
  display: flex;
  margin: 0px 0px 0px -7.292vw;
  padding: 60px 454px;
  width: 117%;
  flex-direction: column;
  row-gap: 30px;
  background-color: var(--beige);
  border-radius: 30px;
  font-family: 'Golos Text', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 135%;
}

.M_Comments {
  width: 23.646vw;
}

.M_Banner1to9Column {
  display: flex;
  padding: 0px 0px 30px 0px;
  width: 85.417vw;
  height: 600px;
  border-radius: 30px;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: flex-end;

  &.BannerInstructions {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 12.66%, rgba(135, 170, 255, 0.8) 78.08%),
      no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');
  }

  &.BannerArticles {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 12.66%, rgba(237, 109, 47, 0.8) 78.42%),
      no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');
  }

  &.BannerQuestions {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 12.66%, rgba(240, 191, 13, 0.8) 78.08%),
      no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');
  }

  > h1 {
    width: 794px;
    text-align: center;
    color: var(--cream);
  }
}

.M_Card1To5Column {
  display: flex;
  padding: 20px;
  width: 16.250vw;
  height: 18.750vw;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 14px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(224, 136, 92, 0.4) 78.42%),
    no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');

  > h3 {
    width: 13.646vw;
    color: var(--cream);
  }

  .W_VideoTime {
    display: flex;
    margin: -40px 0px 0px 0px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    column-gap: 2px;
    align-items: center;
    color: var(--beige);
    justify-content: flex-end;
  }
}

.C_5Cards {
  display: flex;
  column-gap: 20px
}

.C_3Cards {
  display: flex;
  column-gap: 20px
}

.M_Card3to9Column {
  display: flex;
  padding: 0px 30px 30px 30px;
  width: 27.760vw;
  height: 440px;
  border-radius: 20px;
  background-color: var(--beige);
  flex-direction: column;
  row-gap: 16px;
}

// .M_SectionHead {
//   margin-bottom: 2.5vw;
// }
// .M_LookMore {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }
// .M__BlockAuthorsArticles_Card_Information {
//   display: flex;
//   flex-direction: column;
// }
// .M_SectionHead,
// .M_BlockAuthorsArticles_Card_Information {
//   display: flex;
//   justify-content: space-between;
// }
// .M_BlockVideos_Card_Information {
//   padding: 1.5vw 1.5vw 1.5vw 1.5vw;
// }
// .M_Footer_Links_Chapters,
// .M_Footer_Links_Subscription {
//   margin-left: 14vw;
// }
