.O_MenuBar {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: space-between;
  background: var(--cream);
}

.O_CommentsBlock {
  display: flex;
  justify-content: space-around;
  background: var(--beige);
  border-radius: 30px;
  padding: 60px 0px;
}

.O_ColorSection {
  margin: 0px 0px 0px -7.292vw;
  width: 117.06%;
  height: 1116px;
  border-radius: 0px 0px 30px 30px;
}

.O_ParagraphText {
  width: 50.833vw;

  p {
    margin: 0px 0px 40px 0px;

    &:last-child {
      margin: 0px;
    }
  }
}

.O_ScrollBlock {
  width: auto;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.O_InstructionsHome {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.O_MaterialsHome {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
