.O_MenuBar {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: space-between;
}

// .O_HeadBunner {
//   margin: 1.56vw 25.94vw 1.56vw 25.94vw;
// }
// .O_BlockAuthorsArticles_Card {
//   width: 41.72vw;
//   height: 22.29vw;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin: 1.04vw 1.04vw 1.04vw 1.04vw;
// }
// .O__BlockVideos_Card {
//   > .C_CategoryTags {
//     margin-top: -1vw;
//   }
// }
// .O_BlockCheckLists_Card {
//   width: 20.26vw;
//   height: 23.44vw;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   border-radius: 1.56vw;
//   background: linear-gradient(105.93deg, #fff9ef 19.91%, #ffffff 100%);
//   box-shadow: 0px 4px 29px 0px #fb62171a;
// }
// .O_Footer_Links,
// .O_Footer_Contacts {
//   display: flex;
//   flex-direction: row;
//   margin: 0vw 6.5vw 0vw 6.5vw;
// }
