.Q_Icons {
  display: block;
  width: 26px;
  height: 26px;

  &.Right {
    background: no-repeat top/100% url('../src/images/Q_IconsRight.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsRightCream.svg');
    }
  }

  &.Left {
    background: no-repeat top/100% url('../src/images/Q_IconsLeft.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsLeftCream.svg');
    }
  }

  &.Open {
    background: no-repeat top/100% url('../src/images/Q_IconsOpen.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsOpenCream.svg');
    }
  }

  &.Download {
    background: no-repeat top/100% url('../src/images/Q_IconsDownload.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsDownloadCream.svg');
    }
  }

  &.Search {
    background: no-repeat top/100% url('../src/images/Q_IconsSearch.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsSearchCream.svg');
    }
  }

  &.Play {
    background: no-repeat top/100% url('../src/images/Q_IconsPlay.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsPlayCream.svg');
    }
  }

  &.Share {
    background: no-repeat top/100% url('../src/images/Q_IconsShare.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsShareCream.svg');
    }
  }

  &.Eye {
    background: no-repeat top/100% url('../src/images/Q_IconsEye.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsEyeCream.svg');
    }
  }

  &.Check {
    background: no-repeat top/100% url('../src/images/Q_IconsCheck.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsCheckCream.svg');
    }
  }

  &.Live {
    background: no-repeat top/100% url('../src/images/Q_IconsLive.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsLiveCream.svg');
    }
  }

  &.Turn {
    background: no-repeat top/100% url('../src/images/Q_IconsTurn.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsTurnCream.svg');
    }
  }

  &.Up {
    background: no-repeat top/100% url('../src/images/Q_IconsUp.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsUpCream.svg');
    }
  }

  &.Down {
    background: no-repeat top/100% url('../src/images/Q_IconsDown.svg');

    &.CreamCombination {
      background: no-repeat top/100% url('../src/images/Q_IconsDownCream.svg');
    }
  }
}

.Q_ArticleImage {

  &.Article3to5Column {
    width: 50.833vw;
  }

  &.Article4to8Column {
    width: 42.188vw;
  }
}

.Q_CardBackground {
  border-radius: 30px;

  &.Checklist {
    width: 397px;
    height: 200px;

    &#checklist1 {
      background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%), no-repeat center/cover url('../src/images/Q_CardBackground2.png');
    }
  }

  &.Article {
    margin: 0px 0px 14px -30px;
    width: 27.760vw;
    height: 255px;

    &#article1 {
      background: linear-gradient(0deg, rgba(224, 136, 92, 0.1) 23.23%, rgba(255, 255, 255, 0) 100%),
        no-repeat center/cover url('../src/images/A_BlockAuthorsArticles_Card_Photo_Property1.png');
    }
  }
}
