section {

  &.S_ArticleText {
    margin: 140px 0px 140px 0px;
    row-gap: 60px;

    .W_Paragraph {
    display: flex;
    column-gap: 20px;

      h1 {
        width: 33.542vw;
      }
    }
  }

  &.S_CommentsAndAddition {
    margin: 0px 0px 140px 0px;
    row-gap: 60px;
  }
}

.S_MaterialsHomeBlock {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
