// .S_Articles {
//   display: flex;
//   margin: 80px 0px 0px 0px;
//   flex-direction: column;
//   row-gap: 48px;
// }

.S_main {
  margin-top: 4.17vw;
  > section {
    margin-bottom: 2.8vw;
  }
}
.S_BlockAuthorsArticles {
}
.S_BlockVideos {
  margin: 0vw 6.5vw 0vw 6.5vw;
}
.S_BlockCheckLists {
}
