body.about {
  background-color: var(--cream);
  color: var(--orange);
  font-size: 1.823vw;

  header {
    position: block;
    height: 56.354vw;
  }

  section {
    position: block;

    &.whoweare {
      height: 65.938vw;
      background-color: var(--orange);
      color: var(--cream);
    }

    &.ourmisson {
      height: 89.948vw;
      padding: 8.1vw 0vw 0vw 0vw;
    }
  }

  footer {
    position: block;
    height: 9.271vw;
    background-color: var(--orange);
    color: var(--cream);

    p {
      font-size: 1.042vw;
      line-height: 1.375vw;
      letter-spacing: 0.01vw;
      text-transform: lowercase;

      &.we {
        margin: 0vw 0vw 0vw 2.8vw;
      }
      &.we-a {
        display: none;
      }
    }

    span {
      &.and {
        display: inline;
        font-weight: 300;
        margin: 0vw 1.23vw 0vw 1.23vw;
      }
    }

    .footercontent {
      display: flex;
      position: relative;
      align-items: center;
      padding: 2.7vw 2.3vw 0vw 2.3vw;
      flex-direction: row;
    }

    .biglogotype {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 0vw;
      width: 8.323vw;
      height: 3.551vw;
      background: no-repeat center/100% url('./images/bigcreamlogotype.svg');
    }

    .sashaportfolio {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 31vw;
      width: 4.099vw;
      height: 4.099vw;
      background: no-repeat center/100% url('./images/sashaportfolio.svg');
    }

    .ulyanaportfolio {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw -0.75vw;
      width: 4.099vw;
      height: 4.099vw;
      background: no-repeat center/100% url('./images/ulyanaportfolio.svg');
    }

    .dimaportfolio {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw -0.75vw;
      width: 4.099vw;
      height: 4.099vw;
      background: no-repeat center/100% url('./images/dimaportfolio.svg');
    }

    .hselogo {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 1.6vw;
      width: 9.323vw;
      height: 3.67vw;
      background: no-repeat center/100% url('./images/hsecreamlogo.svg');
    }
  }

  p {
    display: block;
    position: relative;
    line-height: 2.083vw;
    letter-spacing: 0.018vw;

    &.headertext {
      margin: 4.6vw 0vw 0vw 3.76vw;
      width: 37.4vw;
    }

    &.whowearetext {
      margin: 3.7vw 0vw 0vw 3.76vw;
      width: 32.292vw;
    }
  }

  a {
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 0.018vw;
    transition: 0.4s;

    &.promo {
      display: block;
      position: relative;
      margin-right: auto;
      margin-top: -0.36vw;
      color: var(--unhoverlink);

      &:hover {
        color: var(--orange);
      }
    }

    &.promobutton {
      display: flex;
      flex-direction: row;
      position: relative;
      padding: 0.44vw 0vw 0.44vw 0vw;
      margin: 0.04vw 0vw 0vw -0.6vw;
      justify-content: center;
      width: 26.25vw;
      height: 3.021vw;
      text-align: center;
      border-radius: 2.083vw;
      background-color: var(--orange);
      color: var(--cream);

      &:hover {
        background-color: var(--unhoverlink);
      }

      > .arrowtoright {
        margin: 0.62vw 0vw 0vw 1.6vw;
      }
    }
  }

  h1 {
    margin: 2.68vw 0vw 0vw 0vw;
    padding: 0vw 3.14vw 0vw 3.14vw;
    font-size: 11.458vw;
    line-height: 10.771vw;
    letter-spacing: 0.115vw;
  }

  h2 {
    display: block;
    position: relative;
    padding: 5.469vw 0vw 0vw 3.802vw;
    font-size: 5.208vw;
    line-height: 5.156vw;
    letter-spacing: 0.052vw;
    width: 64vw;
  }

  h3 {
    display: block;
    position: relative;
    font-size: 3.333vw;
    line-height: 3.3vw;
    letter-spacing: 0.033vw;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2.14vw 3.906vw 0vw 3.906vw;
  }

  .logotype {
    display: block;
    position: relative;
    margin: 0vw 2.1vw 0vw 0vw;
    width: 2.188vw;
    height: 2.188vw;
    background: no-repeat center/100% url('./images/orangelogotype.svg');
  }

  .vk {
    display: block;
    position: relative;
    width: 2.813vw;
    height: 1.823vw;
    background: no-repeat center/100% url('./images/orangevk.svg');
  }

  .telegram {
    display: block;
    position: relative;
    margin: 0vw 0vw 0vw 1.8vw;
    width: 2.292vw;
    height: 2.135vw;
    background: no-repeat center/100% url('./images/orangetg.svg');
  }

  .dzen {
    display: block;
    position: relative;
    margin: 0vw 0vw 0vw 2.2vw;
    width: 2.292vw;
    height: 2.292vw;
    background: no-repeat center/100% url('./images/orangedzen.svg');
  }

  .shapeman {
    display: block;
    position: relative;
    margin: -13vw 0vw 0vw 58.8vw;
    width: 35.521vw;
    height: 26.927vw;
    background: no-repeat center/100% url('./images/shape1_man.png');
  }

  .bottomarrow {
    display: block;
    position: relative;
    margin: -3.07vw 0vw 0vw 3.76vw;
    width: 3.177vw;
    height: 3.177vw;
    background: no-repeat center/100% url('./images/bottomarrow.svg');
    animation: 2s infinite arrowmove;
  }

  @keyframes arrowmove {
    0% {
      margin-top: -3.07vw;
    }
    50% {
      margin-top: -2.6vw;
    }
    100% {
      margin-top: -3.07vw;
    }
  }
  .hiddentext2 {
    display: none;
  }
  .mobilewarframes {
    display: block;
    position: relative;
    margin: -18.4vw 0vw 0vw 38.303vw;
    width: 57.745vw;
    height: 46.007vw;
    background: no-repeat center/100% url('./images/mobilewarframes.png');
  }

  .ourpluses {
    display: flex;
    flex-direction: row;
    margin: 3.594vw auto 0vw;
    justify-content: space-between;
    width: 92.083vw;

    p {
      font-size: 1.719vw;
      line-height: 1.788vw;
      letter-spacing: 0.017vw;
      font-weight: 300;
    }
  }

  .howtopay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 23.958vw;
  }
  .flipthescreen {
    display: none;
  }
  .pipeburst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 20.521vw;

    p {
      width: 17.917vw;
    }
  }

  .pumpkin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 20.938vw;
  }

  .arrowtoright {
    display: block;
    position: relative;
    margin: 0.6vw 0vw 0vw 0vw;
    width: 0.587vw;
    height: 0.847vw;
    background: no-repeat center/100% url('./images/arrowtoright.png');
  }
}

.desktopwarframe {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 92.353vw;
  height: 47.396vw;
  background: no-repeat center/100% url('./images/desktopwarframe.png');
}

.ourmissontextbox {
  display: grid;
  position: relative;
  flex-wrap: wrap;
  width: 51.5vw;
  margin: 8.5vw auto 0vw;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.7vw;
}

.mission {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media only screen and (min-width: 360px) and (max-device-width: 768px) {
  body.about {
    font-size: 4vw;
    header {
      height: 196.923vw;
    }
    section {
      &.whoweare {
        height: 216.41vw;
      }
    }
    h1 {
      font-size: 23.077vw;
      line-height: 21.692vw;
      margin: 15.385vw 0vw 0vw 0vw;
    }
    h2 {
      font-size: 8.974vw;
      line-height: 8.885vw;
      padding-top: 10.513vw;
    }
    h3 {
      font-size: 6.41vw;
      line-height: 6.346vw;
    }
    .navigation {
      margin: 13.846vw 2vw 0 2vw;
      .logotype {
        transform: scale(2.5);
        margin-right: 7vw;
      }
      .vk,
      .telegram,
      .dzen {
        transform: scale(2);
        margin-left: 5vw;
      }
    }
    p {
      font-size: 4.103vw;
      line-height: 4.615vw;
      &.headertext {
        width: 57.436vw;
      }
      &.whowearetext {
        display: none;
      }
    }
    .shapeman {
      width: 74.103vw;
      height: 55.385vw;
      margin: 6.667vw 0vw 0vw 22.051vw;
    }
    .bottomarrow {
      width: 6.667vw;
      height: 6.667vw;
      margin: -6.667vw 0vw 5vw 3.76vw;
    }
    .hiddentext2 {
      display: inline-block;
      width: 87.179vw;
    }
    .hiddentext1 {
      display: none;
    }
    .mobilewarframes {
      display: block;
      position: relative;
      margin: 15.128vw 0vw 0vw 18.718vw;
      width: 62.821vw;
      height: 136.667vw;
      background: no-repeat center/100%
        url('./images/mobilewarframes-adaptive.png');
    }
    .whoweare {
      p {
        font-size: 3.846vw;
        line-height: 4vw;
      }
    }
    .ourpluses {
      margin-top: 8.718vw;
      width: 92.564vw;
      .howtopay {
        .hiddentext2 {
          width: 22.513vw;
        }
      }
      .pipeburst {
        width: 25vw;
        .hiddentext2 {
          width: 23.615vw;
        }
      }
      .pumpkin {
        width: 33.3vw;
        .hiddentext2 {
          width: 33vw;
        }
      }
      .arrowtoright {
        margin-right: 2.308vw;
      }
    }
    .arrowtoright {
      width: 1.5vw;
      height: 2.2vw;
      margin-top: 1vw;
    }
    .desktopwarframe {
      display: none;
    }
    .flipthescreen {
      display: flex;
      .twoarrows {
        display: block;
        position: relative;
        width: 6.667vw;
        height: 6.667vw;
        margin-left: 3.76vw;
        margin-right: 3.333vw;
        background: no-repeat center/100% url('./images/twoarrows.svg');
      }
      p {
        font-size: 1.8vw;
        line-height: 1.7vw;
        letter-spacing: 0.01vw;
        padding-top: 1.8vw;
      }
    }
    .ourmissontextbox {
      width: 91.795vw;
      margin: 26.154vw 0 0 3.76vw;
      h3 {
        width: 73.333vw;
      }
      .promobutton {
        font-size: 4.103vw;
        line-height: 4.615vw;
        padding: 0.9vw 3.846vw 0vw 3.846vw;
        margin: 0.04vw 2vw 0vw -38vw;
        width: 57.179vw;
        height: 6.667vw;
        text-align: center;
        border-radius: 5vw;
        .arrowtoright {
          margin-top: 1.5vw;
        }
      }
    }
    footer {
      height: 12vw;
      .sashaportfolio,
      .ulyanaportfolio,
      .dimaportfolio {
        display: none;
      }
      .biglogotype {
        transform: scale(1.5);
        margin: 1.5vw 0vw 0vw 8vw;
      }
      .hselogo {
        transform: scale(1.5);
        margin: 1.5vw 0vw 0vw 35vw;
      }
      p {
        font-size: 1.8vw;
        line-height: 1.7vw;
        letter-spacing: 0.01vw;
        &.we {
          display: none;
        }
        &.we-a {
          display: block;
          margin: 1.1vw 0vw 0vw 5vw;
        }
      }
    }
  }
  @keyframes arrowmove {
    0% {
      margin-top: -6.667vw;
    }
    50% {
      margin-top: -5.8vw;
    }
    100% {
      margin-top: -6.667vw;
    }
  }
}
