body.art1 {
  .tagsoncardlinedesktop {
    display: flex;
    position: relative;
    padding: 19.08vw 1.979vw 0vw 1.146vw;
    flex-direction: row;
    column-gap: 0.833vw;
  }

  .avatar {
    display: block;
    position: relative;
    width: 2.031vw;
    height: 2.031vw;
    background-color: var(--white);
    border-radius: 1.563vw;
  }

  img {
    &#firstimg {
      margin: 1.354vw 0vw 0vw 0vw;
    }
  }

  .articlehead {
    background-color: var(--black);
    color: white;
    border: none;
  }
}
