* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
