@font-face {
  font-family: 'Aeonik Pro';
  src: url('fonts/AeonikPro-Light.otf') format('opentype'),
    url('fonts/AeonikPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('fonts/AeonikPro-Medium.otf') format('opentype'),
    url('fonts/AeonikPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.ttf') format('truetype'),
    url('fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-SemiBold.ttf') format('truetype'),
    url('fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('fonts/VelaSans-Regular.otf') format('opentype'),
    url('fonts/VelaSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('fonts/VelaSans-Medium.otf') format('opentype'),
    url('fonts/VelaSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('fonts/VelaSans-SemiBold.otf') format('opentype'),
    url('fonts/VelaSans-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Polite Type';
  src: url('fonts/PoliteType-Regular.ttf') format('truetype'),
    url('fonts/PoliteType-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
