@font-face {
  font-family: 'Aeonik Pro';
  src: url('fonts/AeonikPro-Light.otf') format('opentype'),
    url('fonts/AeonikPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('fonts/AeonikPro-Medium.otf') format('opentype'),
    url('fonts/AeonikPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
