body.new_landing {
  background-color: var(--cream);
  // background: no-repeat top/100% url('./images/new-landing/new-landing.png');
  width: 100vw;
  // height: 505vw;
  font-family: 'Golos Text', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0;

  a {
    text-decoration: none;
    color: var(--orange);
  }

  a:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  header {
    margin: 0 7.5vw;
    height: 4vw;

    a {
      margin-left: 2vw;
    }
  }

  .O_MenuBar {
    justify-content: flex-start;
    margin-top: -2vw;
  }

  .M_NavigationLogotype {
    margin-top: 4vw;
    height: 5vw;
    width: 5vw;
   background: no-repeat top/100% url('./images/logotype/logotypeheader1920.svg');

  }

  .M_MenuNavigation {
    margin-top: -4.5vw;
    margin-left: 25vw;
  }

  section#main {
    height: 50vw;
    width: 100vw;
    background: no-repeat top/100% url('./images/new-landing/main-box.svg');
    // opacity: 0.5;

    .zag {
      font-size: 6.5vw;
      line-height: 90%;
      font-weight: 500;
      position: relative;
      top: 11vw;
      left: 17.5vw;
      color: var(--cream);
    }

    .more-button {
      height: 2.2vw;
      width: 10.5vw;
      position: relative;
      top: 16.5vw;
      left: 17.8vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 1vw;
        line-height: 90%;
        color: var(--cream);
      }

      .button {
        height: 1vw;
        width: 1vw;
        background: no-repeat top/100% url('./images/new-landing/button.svg');
        transform: rotate(-90deg);
      }
    }

    .round-label {
      height: 5vw;
      width: 5vw;
      position: relative;
      top: -12.1vw;
      left: 7.4vw;
      background-color: var(--blue);
      border-radius: 50%;

      p {
        font-size: 3.5vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 1vw;
        left: 2vw;
        transform: rotate(17deg);
      }
    }

    .rec-label {
      height: 17.8vw;
      width: 36.8vw;
      position: relative;
      top: 9.5vw;
      left: 52vw;
      background: no-repeat top/100% url('./images/new-landing/main-label.png');

      p {
        font-size: 2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 7.9vw;
        left: 18vw;
        transform: rotate(12deg);
      }
    }
  }

  section#about {
    height: 62vw;
    width: 100vw;
    // opacity: 0.5;

    p {
      font-size: 2.5vw;
      line-height: 115%;
      color: var(--tree);
      position: relative;
      top: 12.5vw;
      left: 18vw;
      width: 67vw;
    }

    .label-blue-1 {
      height: 17.8vw;
      width: 36.8vw;
      position: relative;
      top: 20.5vw;
      left: 6vw;
      transform: rotate(-4deg);
      background: no-repeat top/100% url('./images/new-landing/about-label-blue-1.svg');

      p {
        font-size: 2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 1.5vw;
        left: 3.5vw;
        transform: rotate(348.8deg);
      }
    }

    .label-blue-2 {
      height: 8.8vw;
      width: 36.9vw;
      position: relative;
      top: 11.4vw;
      left: 56vw;
      background: no-repeat top/100% url('./images/new-landing/about-label-blue-2.svg');

      p {
        font-size: 2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 4.6vw;
        left: 4.2vw;
        transform: rotate(4.4deg);
      }
    }

    .label-orange-1 {
      height: 9.5vw;
      width: 38.8vw;
      position: relative;
      top: 0;
      left: 10vw;
      background: no-repeat top/100% url('./images/new-landing/about-label-orange-1.svg');

      p {
        font-size: 2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 1.6vw;
        left: 5.2vw;
        transform: rotate(355.2deg);
      }
    }

    .label-orange-2 {
      height: 8.8vw;
      width: 32.8vw;
      position: relative;
      top: -19.5vw;
      left: 53vw;
      background: no-repeat top/100% url('./images/new-landing/about-label-orange-2.svg');

      p {
        font-size: 2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 1.5vw;
        left: 5.2vw;
        transform: rotate(356.5deg);
      }
    }

    .label-yellow {
      height: 14.8vw;
      width: 38.9vw;
      position: relative;
      top: -20.5vw;
      left: 40vw;
      background: no-repeat top/100% url('./images/new-landing/about-label-yellow.svg');

      p {
        font-size: 2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 1.5vw;
        left: 5.2vw;
        transform: rotate(348.6deg);
      }
    }

    .label-round-1 {
      height: 5vw;
      width: 5vw;
      position: relative;
      top: -41vw;
      left: 9.5vw;
      background-color: var(--blue);
      border-radius: 50%;

      p {
        font-size: 3.5vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: -2.3vw;
        left: 1.5vw;
        transform: rotate(355.2deg);
      }
    }

    .label-round-2 {
      height: 5vw;
      width: 5vw;
      position: relative;
      top: -34vw;
      left: 35.5vw;
      background-color: var(--blue);
      border-radius: 50%;

      p {
        font-size: 3.5vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: -2.4vw;
        left: 1.45vw;
        transform: rotate(355deg);
      }
    }

    .label-round-3 {
      height: 5vw;
      width: 5vw;
      position: relative;
      top: -53vw;
      left: 77vw;
      background-color: var(--blue);
      border-radius: 50%;

      p {
        font-size: 3.5vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: -2.4vw;
        left: 1.45vw;
        transform: rotate(355deg);
      }
    }

    .label-mockup-v {
      height: 21.65vw;
      width: 13.3vw;
      position: relative;
      top: -26vw;
      left: -3.6vw;
      background: no-repeat top/100% url('./images/new-landing/mockup-label.svg');
    }

    .label-mockup {
      height: 9.65vw;
      width: 28.9vw;
      position: relative;
      top: -48vw;
      left: 5.5vw;
      background: no-repeat top/100% url('./images/new-landing/about-mockup-label-yellow.png');
      overflow: hidden;

      p {
        font-size: 2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 10.4vw;
        left: 7.4vw;
        transform: rotate(6deg);
      }
    }
  }

  section#mockup {
    height: 85.2vw;
    width: 100vw;
    background: no-repeat top/100% url('./images/new-landing/mockup-box.svg');
    // opacity: 0.5;

    p {
      font-size: 3.8vw;
      line-height: 100%;
      color: var(--cream);
      position: relative;
      top: 8.7vw;
      left: 18vw;
      width: 67vw;
    }

    .nout {
      height: 50.65vw;
      width: 77.3vw;
      position: relative;
      top: 9vw;
      left: 11.2vw;
      background: no-repeat top/100% url('./images/new-landing/mockup-nout.svg');
    }
  }

  section#mission {
    height: 153vw;
    width: 100vw;
    // overflow-x: hidden;
    // opacity: 0.5;

    .first {
      font-size: 2.5vw;
      line-height: 115%;
      color: var(--tree);
      position: relative;
      top: 11.5vw;
      left: 18vw;
      width: 67vw;
    }

    .line {
      height: 9.65vw;
      width: 100vw;
      position: relative;
      top: 13.5vw;
      left: 0vw;
      background: no-repeat top/100% url('./images/new-landing/mission-line.svg');
    }

    .line-material-1 {
      height: 31vw;
      width: 20vw;
      position: relative;
      top: 5vw;
      left: 3vw;
      background: no-repeat top/100% url('./images/new-landing/mission-1.svg');

      p {
        font-size: 3.2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 10vw;
        left: 5.8vw;
        transform: rotate(6deg);
      }
    }

    .line-material-2 {
      height: 33vw;
      width: 31vw;
      position: relative;
      top: -25vw;
      left: 21.3vw;
      background: no-repeat top/100% url('./images/new-landing/mission-2.svg');

      p {
        font-size: 3.2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 16.6vw;
        left: 4.2vw;
        transform: rotate(30deg);
      }
    }

    .line-material-3 {
      height: 38vw;
      width: 29vw;
      position: relative;
      top: -56.5vw;
      left: 49vw;
      background: no-repeat top/100% url('./images/new-landing/mission-3.svg');

      p {
        font-size: 3.2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 0.2vw;
        left: 7.5vw;
        transform: rotate(316deg);
      }
    }

    .line-material-4 {
      height: 34vw;
      width: 26vw;
      position: relative;
      top: -97.2vw;
      left: 71.1vw;
      background: no-repeat top/100% url('./images/new-landing/mission-4.svg');

      p {
        font-size: 3.2vw;
        color: var(--cream);
        line-height: 115%;
        position: relative;
        top: 12.8vw;
        left: 18.3vw;
        transform: rotate(19deg);
      }
    }

    .second {
      font-size: 3.8vw;
      line-height: 100%;
      color: var(--tree);
      position: relative;
      top: -85vw;
      left: 18vw;
      width: 67vw;
    }

    .mobile-1 {
      height: 66.5vw;
      width: 68vw;
      position: relative;
      top: -158.5vw;
      left: 6.1vw;
      background: no-repeat top/100% url('./images/new-landing/mission-phone-1.png');
    }

    .running-line {
      height: 5.5vw;
      width: 300vw;
      position: relative;
      top: -111vw;
      left: 0vw;
      background: no-repeat top/100% url('./images/new-landing/mission-running-line.png');
      animation: animat 30s linear infinite;
      overflow-x: hidden;

      @keyframes animat {
        0% {
          left: 0;
        }

        100% {
          left: -100vw;
        }
      }
    }

    .mobile-2 {
      height: 63.5vw;
      width: 52vw;
      position: relative;
      top: -86.5vw;
      left: 34vw;
      background: no-repeat top/100% url('./images/new-landing/mission-phone-2.svg');
    }
  }

  section#box {
    height: 66vw;
    width: 100vw;
    background: no-repeat top/100% url('./images/new-landing/box-box.svg');
    // opacity: 0.5;

    p {
      font-size: 2.5vw;
      line-height: 115%;
      color: var(--cream);
      position: relative;
      top: 8.5vw;
      left: 26vw;
      width: 67vw;
    }

    .item-1 {
      height: 65vw;
      width: 63vw;
      position: relative;
      top: -11.5vw;
      left: 0vw;
      background: no-repeat top/100% url('./images/new-landing/box-skovorodz.svg');
    }

    .item-2 {
      height: 39vw;
      width: 38vw;
      position: relative;
      top: -45.5vw;
      left: 35vw;
      background: no-repeat top/100% url('./images/new-landing/box-lightbulb.svg');
    }

    .item-3 {
      height: 29vw;
      width: 29vw;
      position: relative;
      top: -90.5vw;
      left: 66vw;
      background: no-repeat top/100% url('./images/new-landing/box-shirt.svg');
    }
  }

  section#articles {
    height: 54vw;
    width: 100vw;
    // opacity: 0.5;

    p {
      font-size: 2.5vw;
      line-height: 115%;
      color: var(--tree);
      position: relative;
      top: 11.5vw;
      left: 26vw;
      width: 67vw;
    }

    .art {
      height: 23vw;
      width: 84.5vw;
      position: relative;
      top: 16vw;
      left: 7.2vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .art-1 {
        height: 23vw;
        width: 27.5vw;
        background: no-repeat top/100% url('./images/new-landing/articles-1.svg');
      }

      .art-2 {
        height: 23vw;
        width: 27.5vw;
        background: no-repeat top/100% url('./images/new-landing/articles-2.svg');
      }

      .art-3 {
        height: 23vw;
        width: 27.5vw;
        background: no-repeat top/100% url('./images/new-landing/articles-3.svg');
      }
    }
  }

  footer {
    height: 30vw;
    width: 100vw;
    background: no-repeat top/100% url('./images/new-landing/footer.svg');
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // opacity: 0.5;

    p.zag-fut {
      font-size: 4.5vw;
      color: var(--cream);
      margin-top: 8.6vw;
    }

    p.podpic {
      font-size: 1.25vw;
      color: var(--cream);
      margin-top: -4.5vw;
    }

    input {
      all: unset;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: none;
      border-radius: 2.083vw;
      background-color: var(--cream);
      width: 27.2vw;
      color: var(--tree);
      font-size: 1vw;
      margin-left: 0.5vw;
      padding: 0 0 0 1vw;
    }

    form {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      width: 38.6vw;
      margin: -3.5vw 0vw 0vw 0vw;
    }

    button {
      display: block;
      position: relative;
      margin: 0 -0.7vw 0vw 0vw;
      width: 7.4vw;
      height: 2.5vw;
      border: none;
      border-radius: 2.083vw;
      background-color: var(--cream);
      color: var(--orange);
      font-family: 'Golos Text', Helvetica, Arial, sans-serif;
      font-size: 1vw;
      transition: 0.4s;

      &:hover {
        background-color: var(--unhoverlink);
        cursor: pointer;
      }
    }

    .social-net {
      width: 6.5vw;
      height: 2vw;
      position: relative;
      bottom: 3vw;
      left: -39.5vw;
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .vk {
        width: 1.5vw;
        height: 1vw;
        background: no-repeat top/100% url('./images/landing/vk.svg');
      }

      .tg {
        width: 1.3vw;
        height: 1.3vw;
        background: no-repeat top/100% url('./images/landing/tg.svg');
      }

      .dzen {
        width: 1.3vw;
        height: 1.3vw;
        background: no-repeat top/100% url('./images/landing/dzen.svg');
      }
    }
  }
}