body.page {
  background: no-repeat top/100% url('./images/fon.png');
  background-color: var(--orange);
  color: var(--cream);
  font-size: 1.823vw;

  h1 {
    font-size: 26.667vw;
    line-height: 30.667vw;
    letter-spacing: 0.267vw;
    margin: -2.2vw 0vw 0vw 2.97vw;
  }

  h3 {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0vw 30vw;
    font-size: 3.333vw;
    line-height: 3.3vw;
    letter-spacing: 0.033vw;
    text-align: center;
  }

  footer {
    position: block;
    height: 9.271vw;
    background-color: var(--cream);
    color: var(--orange);

    p {
      font-size: 1.042vw;
      line-height: 1.375vw;
      letter-spacing: 0.01vw;
      text-transform: lowercase;

      &.we {
        margin: 0vw 0vw 0vw 2.8vw;
      }
      &.we-a {
        display: none;
      }
    }

    span {
      &.and {
        display: inline;
        font-weight: 300;
        margin: 0vw 1.23vw 0vw 1.23vw;
      }
    }

    .footercontent {
      display: flex;
      position: relative;
      align-items: center;
      padding: 2.7vw 2.3vw 0vw 2.3vw;
      flex-direction: row;
    }

    .biglogotype {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 0vw;
      width: 8.323vw;
      height: 3.551vw;
      background: no-repeat center/100% url('./images/bigorangelogotype.svg');
    }

    .sashaportfolio {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 31vw;
      width: 4.099vw;
      height: 4.099vw;
      background: no-repeat center/100% url('./images/sashaportfolioborder.svg');
    }

    .ulyanaportfolio {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw -0.75vw;
      width: 4.099vw;
      height: 4.099vw;
      background: no-repeat center/100%
        url('./images/ulyanaportfolioborder.svg');
    }

    .dimaportfolio {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw -0.75vw;
      width: 4.099vw;
      height: 4.099vw;
      background: no-repeat center/100% url('./images/dimaportfolioborder.svg');
    }

    .hselogo {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 1.6vw;
      width: 9.323vw;
      height: 3.67vw;
      background: no-repeat center/100% url('./images/hseorangelogo.svg');
    }
  }

  section {
    display: block;
    position: relative;

    &.manwiththings {
      height: 141.458vw;
    }

    &.selfservie {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 35.938vw;
    }

    &.mailcollector {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      height: 33.49vw;
    }
  }

  p {
    line-height: 2.083vw;
    letter-spacing: 0.018vw;
    text-transform: lowercase;

    &.quote {
      margin: 12.1vw 0vw 0vw 37.6vw;
      font-size: 3.646vw;
    }

    &.whatsnext {
      display: flex;
      width: 24.792vw;
      margin: -0.2vw auto 0vw;
    }

    &.yourcontact {
      margin: 8.9vw 0vw 0vw 0vw;
      width: 32.917vw;
    }

    &#my-form-status {
      margin: 0.6vw 0vw 0vw 0vw;
      color: var(--unhoverlink);
      line-height: 1.375vw;
      letter-spacing: 0.01vw;
      font-size: 1.042vw;
    }
  }

  a {
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 0.018vw;
    transition: 0.4s;

    &.aboutpage {
      display: block;
      position: relative;
      margin-right: auto;
      margin-top: -0.36vw;
      color: var(--unhoverlink);

      &:hover {
        color: var(--cream);
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2.14vw 3.906vw 0vw 3.906vw;

    .logotype {
      display: block;
      position: relative;
      margin: 0vw 2.1vw 0vw 0vw;
      width: 2.188vw;
      height: 2.188vw;
      background: no-repeat center/100% url('./images/creamlogotype.svg');
    }

    .vk {
      display: block;
      position: relative;
      width: 2.813vw;
      height: 1.823vw;
      background: no-repeat center/100% url('./images/creamvk.svg');
    }

    .telegram {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 1.8vw;
      width: 2.292vw;
      height: 2.135vw;
      background: no-repeat center/100% url('./images/creamtg.svg');
    }

    .dzen {
      display: block;
      position: relative;
      margin: 0vw 0vw 0vw 2.2vw;
      width: 2.292vw;
      height: 2.292vw;
      background: no-repeat center/100% url('./images/creamdzen.svg');
    }
  }

  .image {
    display: block;
    position: relative;

    &#anotherthings {
      display: block;
      position: sticky;
      top: 10vw;
      margin: -16.3vw auto 0vw;
      width: 89.635vw;
      height: 38.958vw;

      .block1 {
        display: block;
        position: relative;
        width: 40vw;
        height: 28vw;
        top: 7vw;
        left: -2vw;
        background: no-repeat center/100% url('./images/1920-obj-1.png');
      }
      .block2 {
        display: block;
        position: relative;
        width: 38vw;
        height: 42vw;
        top: -30vw;
        left: 53vw;
        background: no-repeat center/100% url('./images/1920-obj-2.png');
      }

    }

    &#battteryandhoover {
      display: block;
      position: sticky;
      top: 30vw;
      margin: -19.2vw auto -5vw;
      width: 89.635vw;
      height: 18.229vw;
      z-index: 10;

      .block3 {
        display: block;
        position: relative;
        width: 15vw;
        height: 9vw;
        top: 9vw;
        left: 7vw;
        background: no-repeat center/100% url('./images/1920-obj-3.png');
        z-index: 10;
      }
      .block4 {
        display: block;
        position: relative;
        width: 17vw;
        height: 17.5vw;
        top: -8vw;
        left: 32vw;
        background: no-repeat center/100% url('./images/1920-obj-4.png');
        z-index: 10;
      }
    }

    &#shape1_man {
      background-image: url('images/1920-man.png');
      margin: 59.7vw 0vw 0vw 25.55vw;
      width: 24.323vw;
      height: 18.438vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      z-index: 5;
    }
  }
}

input {
  all: unset;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 0px;
  border-bottom: 0.156vw solid white;
  width: 32.917vw;
  color: var(---unhoverlink);
  font-family: 'Aeonik Pro';
  text-transform: lowercase;
  font-size: 1.823vw;
  padding: 0vw 0vw 1vw 0.2vw;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 32.917vw;
  margin: 2vw 0vw 0vw 0vw;
}

button {
  display: block;
  position: relative;
  margin: 3.12vw 0vw 0vw -0.14vw;
  width: 13.542vw;
  height: 3.021vw;
  border: none;
  border-radius: 2.083vw;
  background-color: var(--cream);
  color: var(--orange);
  font-size: 1.823vw;
  font-family: 'Aeonik Pro';
  text-transform: lowercase;
  transition: 0.4s;

  &:hover {
    background-color: var(--unhoverlink);
    cursor: pointer;
  }
}

@media only screen and (min-width: 360px) and (max-device-width: 768px) {
  body.page {
    background: no-repeat top/100% url('./images/fon-1.png');
    font-size: 4vw;

    h1 {font-size: 54vw; margin: 30vw 0vw 0vw 0.7vw;}
    h3 {padding: 0vw 3vw; font-size: 6vw; line-height: 8vw; letter-spacing: 0.3vw;}

    .navigation {
      margin: 13.846vw 2vw 0 2vw;
      .logotype {transform: scale(2.5); margin-right: 7vw;}
      .vk, .telegram, .dzen {transform: scale(2); margin-left: 5vw;}
    }

    section {

      &.manwiththings {height: 500vw;}
      &.selfservie {margin-top: -50vw;}
      &.mailcollector {height: 96vw;}
    }

    .image {

      &#anotherthings {height: 100vw; width: 100vw; top: 110vw; margin: -23vw 0vw; background: no-repeat top/100% url('./images/another-1.png');}
      &#battteryandhoover {opacity: 0;}
      &#shape1_man {transform: scale(2); margin: 220vw 36vw;}
    }

    p {
      line-height: 5vw;
      letter-spacing: 0.1vw;
      &.quote {font-size: 5vw; margin: -181vw 24vw 0vw;}
      &.whatsnext {width: 60vw; margin: 1vw 24vw 0vw;}
      &.yourcontact {margin: 8.9vw 0vw 0vw 0vw; width: 75vw;}
      &#my-form-status {margin: 3vw 0vw 0vw -17.8vw; letter-spacing: 0.1vw; font-size: 2.5vw;}
    }

    input {border-bottom: 0.4vw solid white; width: 73vw; font-size: 4vw; margin: 2vw -21vw 0vw;}
    button {margin: 6vw 0vw 0vw -22vw; width: 25vw; height: 6vw; border-radius: 5vw; font-size: 3.5vw;}

    footer {
      height: 12vw;
      .sashaportfolio, .ulyanaportfolio, .dimaportfolio {display: none;}
      .biglogotype {transform: scale(1.5); margin: 1.5vw 0vw 0vw 8vw;}
      .hselogo {transform: scale(1.5); margin: 1.5vw 0vw 0vw 35vw;}
      p {font-size: 1.8vw; line-height: 1.7vw; letter-spacing: 0.01vw;
        &.we {display: none;}
        &.we-a {display: block;  margin: 1.1vw 0vw 0vw 5vw;}
      }
    }

  }
}
