body.stylegide {
  background-color: var(--cream);
  color: var(--black);
  font-size: 2.604vw;
  line-height: 3.073vw;
  height: 200vw;
  font-family: 'Vela Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  overflow-x: hidden;

  h1 {
    font-size: 1.250vw;
    line-height: 1.458vw;
    font-weight: 600;
  }

  h2 {
    font-size: 6.250vw;
    line-height: 7.344vw;
    margin: 6.250vw 0vw 3.125vw 0vw;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background: no-repeat top/cover url('./images/headerbackground.svg');
  }

  footer {
    margin-top: 16.625vw;
    height: 20vh;
    background: no-repeat top/cover url('./images/footerbackground.svg');
  }

  .self {
    width: 43.646vw;
    height: 17.575vw;
    background: no-repeat top/100% url('./images/self.svg');
  }

  .bluelabel {
    display: flex;
    position: absolute;
    top: 35vw;
    left: 54.823vw;
    width: 21.875vw;
    height: 5.833vw;
    background: no-repeat top/100% url('./images/bluelabel.svg');
    transform: rotate(-17deg);
    align-items: center;
    justify-content: center;

    & p {
      font-size: 2.708vw;
      font-weight: 600;
      color: var(--orange);
      text-transform: lowercase;
    }
  }

  .navcenter {
    display: flex;
    position: absolute;
    left: 0vw;
    width: 20vw;
    height: 56.25vw;
    align-items: center;
  }

  nav {
    display: flex;
    position: fixed;
    margin: 0vw 0vw 0vw 4.583vw;
    height: 14.583vw;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    color: var(--black);
    font-size: 1.250vw;
    line-height: 1.458vw;
    text-decoration: none;
    &:hover {
      color: var(--orange);
    }
  }

  p {
    &.smalltext {
      display: block;
      font-size: 1.250vw;
    }

    &#fortybanner {
      margin: -0.6vw 0vw 0vw -0.6vw;
    }

    &#twentyonebanner {
      margin: -3.06vw 0vw 3.125vw 4vw;
    }

    &#twentyonepost {
      margin: -7.8vw 0vw 4.7vw 38vw;
    }

    &#fortypost {
      margin: -2.7vw 0vw 0vw 38vw;
    }
  }

  section {
    padding: 8.333vw 0vw 0vw 26.667vw;
    width: 95vw;

    &#about {
      position: relative;
      padding-top: 13.542vw;
    }

    &#graphics {
      .label {
        margin-top: 1vw;
        margin-bottom: -7vw;
        width: 45vw;
        height: 20vw;
        margin-left: -2.2vw;
        animation: label 6s linear infinite paused;
        background: no-repeat top/100% url('./images/animations/nakleiki-1.png');
      }

      @keyframes label {
        0%, 11.5% {background: no-repeat top/100% url('./images/animations/nakleiki-1.png');}
        12.5%, 24% {background: no-repeat top/100% url('./images/animations/nakleiki-2.png');}
        25%, 36.5% {background: no-repeat top/100% url('./images/animations/nakleiki-3.png');}
        37.5%, 49% {background: no-repeat top/100% url('./images/animations/nakleiki-4.png');}
        50%, 61.5% {background: no-repeat top/100% url('./images/animations/nakleiki-5.png');}
        62.5%, 74% {background: no-repeat top/100% url('./images/animations/nakleiki-6.png');}
        75%, 86.5% {background: no-repeat top/100% url('./images/animations/nakleiki-7.png');}
        87%, 100% {background: no-repeat top/100% url('./images/animations/nakleiki-8.png');}
      }

      .boxes {
        margin-top: 2.5vw;
        margin-bottom: -2vw;
        width: 70vw;
        height: 70vw;
        margin-left: -0.6vw;
        animation: boxes 3s linear infinite paused;
        background: no-repeat top/100% url('./images/animations/razvert-1.png');
      }

      @keyframes boxes {
        0%, 32% {background: no-repeat top/100% url('./images/animations/razvert-1.png');}
        33%, 65% {background: no-repeat top/100% url('./images/animations/razvert-2.png');}
        66%, 100% {background: no-repeat top/100% url('./images/animations/razvert-3.png');}
      }
    }

    &#grid {
        .bannergrid {
          margin-top: 3vw;
          margin-bottom: 2vw;
          width: 68vw;
          height: 40.1vw;
          margin-left: -3.7vw;
          animation: bunnergrid 4s linear infinite paused;
          background: no-repeat top/100% url('./images/animations/grid-1.png');
        }
        @keyframes bunnergrid {
          0%, 24% {background: no-repeat top/100% url('./images/animations/grid-1.png');}
          25%, 49% {background: no-repeat top/100% url('./images/animations/grid-2.png');}
          50%, 74% {background: no-repeat top/100% url('./images/animations/grid-3.png');}
          75%, 100% {background: no-repeat top/100% url('./images/animations/grid-4.png');}
        }

        .postgrid {
          margin-top: 3vw;
          margin-bottom: 2vw;
          width: 40vw;
          height: 40vw;
          margin-left: -0.4vw;
          animation: postgrid 4s linear infinite paused;
          background: no-repeat top/100% url('./images/animations/grid-2-1.png');
        }
        @keyframes postgrid {
          0%, 24% {background: no-repeat top/100% url('./images/animations/grid-2-1.png');}
          25%, 49% {background: no-repeat top/100% url('./images/animations/grid-2-2.png');}
          50%, 74% {background: no-repeat top/100% url('./images/animations/grid-2-3.png');}
          75%, 100% {background: no-repeat top/100% url('./images/animations/grid-2-4.png');}
        }
    }
  }

  .fontsbackgorund {
    margin: 8.333vw 0vw 0vw 0vw;
    height: 95.3vw;
    background: no-repeat top/100% url('./images/fontsbackground.svg');
  }

  button {
    display: flex;
    margin: 1.458vw 0vw 0vw -0.3vw;
    align-items: center;
    column-gap: 1.25vw;
    color: var(--orange);
    border: none;
    font-size: 1.250vw;
    font-weight: 500;
    background-color: var(--cream);
  }

  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .heading {
    display: flex;
    margin-bottom: 3.125vw;
    flex-direction: row;
    column-gap: 2.292vw;
    align-items: center;
  }

  .number {
    display: flex;
    width: 3.906vw;
    height: 3.906vw;
    justify-content: space-around;
    align-items: center;
    background-color: var(--orange);
    color: var(--cream);
    border-radius: 2.083vw;
  }

  .logotypeanimation {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    // width: 68vw;
    // height: 40.990vw;
    margin-top: 5vw;
    margin-bottom: -5vw;
    width: 50vw;
    height: 30vw;
    padding: 20vw;
    animation: animat-1 4s linear infinite paused;
    background: no-repeat top/100% url('./images/animations/logo-1.png');
  }
  @keyframes animat-1 {
    0%, 10% {background: no-repeat top/100% url('./images/animations/logo-1.png');}
    11%, 16% {background: no-repeat top/100% url('./images/animations/logo-2.png');}
    17%, 22% {background: no-repeat top/100% url('./images/animations/logo-3.png');}
    23%, 28% {background: no-repeat top/100% url('./images/animations/logo-4.png');}
    29%, 34% {background: no-repeat top/100% url('./images/animations/logo-5.png');}
    35%, 60% {background: no-repeat top/100% url('./images/animations/logo-6.png');}
    61%, 79% {background: no-repeat top/100% url('./images/animations/logo-7.png');}
    80%, 100% {background: no-repeat top/100% url('./images/animations/logo-8.png');}
  }


  .colorcolumns {
    position: relative;
    display: flex;
    margin-bottom: 3.125vw;
    column-gap: 11.302vw;
  }

  .maincolors {
    width: 33.229vw;
  }

  .addcolors {
    width: 22.188vw;
  }

  .colorsbox {
    display: flex;
    flex-direction: row;
    column-gap: 3.229vw;
    margin-top: 3.125vw;
  }

  .colorsection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.604vw;
  }

  .orangecolor {
    display: block;
    width: 8.958vw;
    height: 8.958vw;
    background-color: var(--orange);
    border-radius: 5.208vw;
  }

  .creamcolor {
    display: block;
    width: 8.958vw;
    height: 8.958vw;
    background-color: var(--cream);
    border: solid 0.156vw var(--grey);
    border-radius: 5.208vw;
  }

  .bluecolor {
    display: block;
    width: 8.958vw;
    height: 8.958vw;
    background-color: var(--blue);
    border-radius: 5.208vw;
  }

  .yellowcolor {
    display: block;
    width: 8.958vw;
    height: 8.958vw;
    background-color: var(--yellow);
    border-radius: 5.208vw;
  }

  .greycolor {
    display: block;
    width: 8.958vw;
    height: 8.958vw;
    background-color: var(--grey);
    border-radius: 5.208vw;
  }

  .photos {
    position: relative;
    display: flex;
    margin: 3.125vw 0vw 3.125vw 0vw;
    flex-wrap: wrap;
    row-gap: 0.938vw;
    column-gap: 0.938vw;
  }

  .polite {
    font-family: 'Polite Type';
  }


  img {
    &#ourvalues {
        width: 68.229vw;
    }

    &#arrow {
      width: 1.719vw;
    }

    &#logoanimation {
      width: 42.396vw;
    }

    &#distortlogo {
      margin: 3.125vw 0vw 3.125vw 0vw;
      width: 69.688vw;
    }

    &#filllogo {
      margin-top: 3.125vw;
      width: 56.615vw;
    }

    &#badcolors {
      margin-top: 3.125vw;
      width: 66.771vw;
    }

    &#bannergrid {
      margin-top: 3.125vw;
      width: 67.969vw;
    }

    &#postgrid {
      margin-top: 3.125vw;
      width: 37.396vw;
    }

    &#photocolors {
      margin-top: 3.125vw;
      width: 33.021vw;
    }

    &.photowithcolors {
      width: 32.9vw;
    }

    &#photobanner {
      margin: 3.125vw 0vw 3.125vw 0vw;
      width: 67.969vw;
    }

    &#photoposter {
      margin: 3.125vw 0vw 3.125vw 0vw;
      width: 21.927vw;
    }

    &#roundsticker {
      margin: 3.125vw 0vw 3.125vw 0vw;
      width: 7.708vw;
      transform: rotate(-18deg);
    }

    &#label {
      margin: 3.125vw 0vw 3.125vw 0vw;
      width: 24.896vw;
    }

    &#boxes {
      margin: 3.125vw 0vw 3.125vw 0vw;
      width: 68.125vw;
    }

    &#altboxes {
      margin: 3.125vw 0vw 3.125vw 0vw;
      width: 68.125vw;
    }

    &.photoonehalf {
      width: 33.594vw;
    }

    &.photofull {
      width: 68.125vw;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  body.stylegide {
    section {
      padding: 8.333vw 0vw 0vw 5vw;
      &#about {
        padding-top: 9.365vw;
      }
    }
    .navcenter {
      display: none;
    }
  }
}
