:root {
  --white: white;
  --black: black;
  --orange: #ed6d2f;
  --orangehover: #f99b6d;
  --cream: #fff9ef;
  --beige: #faf0e3;
  --beigehover: #f3e6d5;
  --camel: #d7c0a2;
  --blue: #87aaff;
  --yellow: #f5cb33;
  --grey: #c4c4c4;
  --unhoverlink: #ffa87a;
}

.OrangeCombination {
  background-color: var(--orange);
  color: var(--cream);

  &.BeigeBorder {
    outline-color: var(--beige);
  }
}

.CreamCombination{
  background-color: var(--cream);
  color: var(--orange);

  &.BlueText {
    color: var(--blue);
  }
}

.BeigeCombination{
  background-color: var(--beige);
  color: var(--orange);
}

.BlueCombination{
  background-color: var(--blue);
  color: var(--cream);
}

.YellowCombination{
  background-color: var(--yellow);
  color: var(--orange);
}

html {
  scroll-behavior: smooth;
}

body.home {

  .O_Footer {
    margin: 0px 0px 0px -7.292vw;
  }
}

body.instructions, .home, .articles, .art1, .art2, .art3, .art4, .art5, .art6, .vid1, .vid2, .check1, .instr1, .instr2, .instr3, .instr4, .instr5, .instr6, .instr7 {
  display: block;
  flex-direction: column;
  margin: 0px 7.292vw;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: var(--orange);
  line-height: 145%;
  background-color: var(--cream);

  ol, ul {
    list-style: auto;

    :last-child {
      margin: 0px 0px 0px 0px;
    }

    & + figure {
      margin: 40px 0px 40px 0px;
    }
  }

  li {
    margin: 0px 0px 16px 0px;
  }

  section {
    display: flex;
    margin: 80px 0px 0px 0px;
    flex-direction: column;
    row-gap: 40px;
  }

  h1 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 115%;
  }

  h2 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 115%;
    margin: 0px;
  }

  h3 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 115%;
  }

  h4 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 115%;
  }

  h5 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
  }

  a {
    display: flex;
    color: var(--orange);
    cursor: pointer;
    transition: .3s;
    text-decoration: none;

    &.textlink {
      display: inline-block;
      text-decoration: underline;

      &:hover{
        color: var(--orangehover);
      }
    }

    &.A_Label {
      color: var(--cream);
    }

    &.OrangeCombination, &.BlueCombination {
      color: var(--cream);

      &:hover {
        color: var(--beigehover);
      }
    }
  }

  nav {
    > a {
        font-family: 'Golos Text', sans-serif;
        font-size: 18px;
        line-height: 135%;
        font-weight: 500;

      &.activelink {
        font-weight: 700;
      }
    }
  }

  input {
    display: flex;
    border: none 30px;
    background-color: var(--beige);
    color: var(--camel);
    font-size: 18px;
    line-height: 135%;
  }

  button {
    border-style: hidden;
    font-family: 'Golos Text', sans-serif;
    cursor: pointer;
  }

  video::-webkit-media-controls-panel {
   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(224, 136, 92, 0.1) 78.42%) !important;
  }
}
