a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --white: #fff;
  --black: #000;
  --orange: #fb6217;
  --cream: #fff9ef;
  --blue: #b6cafa;
  --yellow: #f6d81f;
  --grey: #c4c4c4;
  --unhoverlink: #ffa87a;
}
.art1,
.articles,
.instr1,
.instructions,
.quest1,
.questions,
body.page {
  background-color: #fff9ef;
  background-color: var(--cream);
  color: #000;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: Vela Sans, serif;
  font-size: 1.458vw;
  font-weight: 500;
  line-height: 2.115vw;
  margin: 0 2.083vw;
}
.art1 h1,
.articles h1,
.instr1 h1,
.instructions h1,
.quest1 h1,
.questions h1,
body.page h1 {
  font-size: 2.604vw;
  font-weight: 500;
  line-height: 3.542vw;
}
.art1 h2,
.articles h2,
.instr1 h2,
.instructions h2,
.quest1 h2,
.questions h2,
body.page h2 {
  display: block;
  font-size: 2.344vw;
  line-height: 2.695vw;
  position: relative;
}
.art1 h2.h2post,
.articles h2.h2post,
.instr1 h2.h2post,
.instructions h2.h2post,
.quest1 h2.h2post,
.questions h2.h2post,
body.page h2.h2post {
  line-height: 3.542vw;
  margin: 3.125vw 0 1.042vw;
}
.art1 p,
.articles p,
.instr1 p,
.instructions p,
.quest1 p,
.questions p,
body.page p {
  font-size: 1.458vw;
  line-height: 2.115vw;
}
.art1 p.instrumenttext,
.articles p.instrumenttext,
.instr1 p.instrumenttext,
.instructions p.instrumenttext,
.quest1 p.instrumenttext,
.questions p.instrumenttext,
body.page p.instrumenttext {
  font-size: 0.938vw;
  line-height: 1.146vw;
  text-align: center;
}
.art1 p.instructiontext,
.articles p.instructiontext,
.instr1 p.instructiontext,
.instructions p.instructiontext,
.quest1 p.instructiontext,
.questions p.instructiontext,
body.page p.instructiontext {
  width: 56.927vw;
}
.art1 nav,
.articles nav,
.instr1 nav,
.instructions nav,
.quest1 nav,
.questions nav,
body.page nav {
  align-items: center;
  color: #fb6217;
  color: var(--orange);
  display: flex;
  font-size: 1.25vw;
  justify-content: space-between;
  margin: 2.083vw 0;
}
.art1 nav a,
.articles nav a,
.instr1 nav a,
.instructions nav a,
.quest1 nav a,
.questions nav a,
body.page nav a {
  color: #fb6217;
  color: var(--orange);
  font-weight: 600;
}
.art1 .articlespage,
.art1 .instructionspage,
.articles .articlespage,
.articles .instructionspage,
.instr1 .articlespage,
.instr1 .instructionspage,
.instructions .articlespage,
.instructions .instructionspage,
.quest1 .articlespage,
.quest1 .instructionspage,
.questions .articlespage,
.questions .instructionspage,
body.page .articlespage,
body.page .instructionspage {
  margin-right: 2.5vw;
}
.art1 input,
.articles input,
.instr1 input,
.instructions input,
.quest1 input,
.questions input,
body.page input {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 2.083vw;
  font-size: 1.25vw;
  height: 2.604vw;
  padding: 0.781vw;
  width: 28.125vw;
}
.art1 a,
.articles a,
.instr1 a,
.instructions a,
.quest1 a,
.questions a,
body.page a {
  text-decoration: none;
}
.art1 a.logotype,
.articles a.logotype,
.instr1 a.logotype,
.instructions a.logotype,
.quest1 a.logotype,
.questions a.logotype,
body.page a.logotype {
  background: no-repeat top/100% url(images/8178db2f836326a2ad27.svg);
  display: block;
  height: 2.083vw;
  margin: 0 auto;
  width: 5.208vw;
}
.art1 .bannerhead,
.articles .bannerhead,
.instr1 .bannerhead,
.instructions .bannerhead,
.quest1 .bannerhead,
.questions .bannerhead,
body.page .bannerhead {
  align-items: center;
  background: no-repeat top/100% url(images/48a42454eac5e27c30b9.svg);
  box-sizing: border-box;
  display: flex;
  height: 22.292vw;
  justify-content: center;
  width: 95.833vw;
}
.art1 .posthead,
.articles .posthead,
.instr1 .posthead,
.instructions .posthead,
.quest1 .posthead,
.questions .posthead,
body.page .posthead {
  align-items: flex-start;
  background: no-repeat top/100% url(images/48a42454eac5e27c30b9.svg);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 22.292vw;
  justify-content: flex-end;
  padding: 1.042vw;
  width: 95.833vw;
}
.art1 .posthead h1,
.articles .posthead h1,
.instr1 .posthead h1,
.instructions .posthead h1,
.quest1 .posthead h1,
.questions .posthead h1,
body.page .posthead h1 {
  color: #fff9ef;
  color: var(--cream);
  margin: 0 0 2.083vw;
  width: 78.594vw;
}
.art1 .postheadcategories,
.articles .postheadcategories,
.instr1 .postheadcategories,
.instructions .postheadcategories,
.quest1 .postheadcategories,
.questions .postheadcategories,
body.page .postheadcategories {
  -moz-column-gap: 0.521vw;
  column-gap: 0.521vw;
  display: flex;
  flex-direction: row;
  font-size: 0.938vw;
  justify-content: center;
}
.art1 button.a_smallhashtag,
.articles button.a_smallhashtag,
.instr1 button.a_smallhashtag,
.instructions button.a_smallhashtag,
.quest1 button.a_smallhashtag,
.questions button.a_smallhashtag,
body.page button.a_smallhashtag {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 1.563vw;
  color: #fb6217;
  color: var(--orange);
  display: flex;
  font-size: 0.833vw;
  line-height: 0.99vw;
  padding: 0.521vw 1.25vw;
  width: -moz-fit-content;
  width: fit-content;
}
.art1 button.avatar,
.articles button.avatar,
.instr1 button.avatar,
.instructions button.avatar,
.quest1 button.avatar,
.questions button.avatar,
body.page button.avatar {
  border: none;
  border-radius: 2.083vw;
  height: 2.344vw;
  width: 2.344vw;
}
.art1 button#fill,
.articles button#fill,
.instr1 button#fill,
.instructions button#fill,
.quest1 button#fill,
.questions button#fill,
body.page button#fill {
  background-color: #fb6217;
  background-color: var(--orange);
  color: #fff9ef;
  color: var(--cream);
}
.art1 .author,
.articles .author,
.instr1 .author,
.instructions .author,
.quest1 .author,
.questions .author,
body.page .author {
  background-color: #fb6217;
  background-color: var(--orange);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 1.563vw;
  color: #fff9ef;
  color: var(--cream);
  display: flex;
  font-size: 0.833vw;
  line-height: 0.99vw;
  margin: 29.8vw 0 0;
  padding: 0.521vw 1.25vw;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
}
.art1 .sitecategories,
.articles .sitecategories,
.instr1 .sitecategories,
.instructions .sitecategories,
.quest1 .sitecategories,
.questions .sitecategories,
body.page .sitecategories {
  -moz-column-gap: 0.521vw;
  column-gap: 0.521vw;
  display: flex;
  flex-direction: row;
  font-size: 0.938vw;
  justify-content: center;
  margin: 2.083vw 0;
}
.art1 .number,
.articles .number,
.instr1 .number,
.instructions .number,
.quest1 .number,
.questions .number,
body.page .number {
  align-items: center;
  background-color: #fb6217;
  background-color: var(--orange);
  border-radius: 2.083vw;
  color: #fff9ef;
  color: var(--cream);
  display: flex;
  font-size: 2.083vw;
  height: 3.646vw;
  justify-content: center;
  width: 3.646vw;
}
.art1 blockquote,
.articles blockquote,
.instr1 blockquote,
.instructions blockquote,
.quest1 blockquote,
.questions blockquote,
body.page blockquote {
  box-sizing: border-box;
  font-size: 2.5vw;
  line-height: 3.375vw;
  margin: 3.125vw 0;
  padding: 1.563vw 5.521vw;
  width: 63.438vw;
}
.art1 blockquote.yellow,
.articles blockquote.yellow,
.instr1 blockquote.yellow,
.instructions blockquote.yellow,
.quest1 blockquote.yellow,
.questions blockquote.yellow,
body.page blockquote.yellow {
  background-color: #f6d81f;
  background-color: var(--yellow);
  margin-bottom: 0;
}
.art1 blockquote.blue,
.articles blockquote.blue,
.instr1 blockquote.blue,
.instructions blockquote.blue,
.quest1 blockquote.blue,
.questions blockquote.blue,
body.page blockquote.blue {
  background-color: #b6cafa;
  background-color: var(--blue);
}
.art1 img.twoimgarticle,
.articles img.twoimgarticle,
.instr1 img.twoimgarticle,
.instructions img.twoimgarticle,
.quest1 img.twoimgarticle,
.questions img.twoimgarticle,
body.page img.twoimgarticle {
  -moz-column-gap: 1.302vw;
  column-gap: 1.302vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.art1 img.bigarticleimg,
.articles img.bigarticleimg,
.instr1 img.bigarticleimg,
.instructions img.bigarticleimg,
.quest1 img.bigarticleimg,
.questions img.bigarticleimg,
body.page img.bigarticleimg {
  border-radius: 1.563vw;
  height: 22.292vw;
  width: 63.438vw;
}
.art1 img.imgbetweenpandp,
.articles img.imgbetweenpandp,
.instr1 img.imgbetweenpandp,
.instructions img.imgbetweenpandp,
.quest1 img.imgbetweenpandp,
.questions img.imgbetweenpandp,
body.page img.imgbetweenpandp {
  margin: 3.125vw 0;
}
.art1 img.imgfirst,
.articles img.imgfirst,
.instr1 img.imgfirst,
.instructions img.imgfirst,
.quest1 img.imgfirst,
.questions img.imgfirst,
body.page img.imgfirst {
  margin: 2.083vw 0 0;
}
.art1 img.imgbetweenhandp,
.articles img.imgbetweenhandp,
.instr1 img.imgbetweenhandp,
.instructions img.imgbetweenhandp,
.quest1 img.imgbetweenhandp,
.questions img.imgbetweenhandp,
body.page img.imgbetweenhandp {
  margin: 2.083vw 0 3.125vw;
}
.art1 img.smallarticleimg,
.articles img.smallarticleimg,
.instr1 img.smallarticleimg,
.instructions img.smallarticleimg,
.quest1 img.smallarticleimg,
.questions img.smallarticleimg,
body.page img.smallarticleimg {
  border-radius: 1.563vw;
  height: 22.292vw;
  width: 31.094vw;
}
.art1 img#soon,
.articles img#soon,
.instr1 img#soon,
.instructions img#soon,
.quest1 img#soon,
.questions img#soon,
body.page img#soon {
  width: 13.958vw;
}
.art1 .a_categoriescard,
.articles .a_categoriescard,
.instr1 .a_categoriescard,
.instructions .a_categoriescard,
.quest1 .a_categoriescard,
.questions .a_categoriescard,
body.page .a_categoriescard {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 1.563vw;
  display: block;
  height: 23.438vw;
  padding: 1.042vw;
  width: 31.094vw;
}
.art1 .a_cardnamelabel,
.articles .a_cardnamelabel,
.instr1 .a_cardnamelabel,
.instructions .a_cardnamelabel,
.quest1 .a_cardnamelabel,
.questions .a_cardnamelabel,
body.page .a_cardnamelabel {
  background-color: #fb6217;
  background-color: var(--orange);
  border: none;
  color: #fff9ef;
  color: var(--cream);
  font-family: Vela Sans;
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 1vw;
  outline: 0.521vw dotted #fff9ef;
  outline: 0.521vw dotted var(--cream);
  outline-offset: -0.26vw;
  padding: 1.3vw 1.563vw 1.7vw;
  text-transform: lowercase;
  width: -moz-fit-content;
  width: fit-content;
}
.art1 section.postcenter,
.articles section.postcenter,
.instr1 section.postcenter,
.instructions section.postcenter,
.quest1 section.postcenter,
.questions section.postcenter,
body.page section.postcenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1.875vw 0 0;
}
.art1 section.postblock,
.articles section.postblock,
.instr1 section.postblock,
.instructions section.postblock,
.quest1 section.postblock,
.questions section.postblock,
body.page section.postblock {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 63.438vw;
}
.art1 section.blocklinks,
.articles section.blocklinks,
.instr1 section.blocklinks,
.instructions section.blocklinks,
.quest1 section.blocklinks,
.questions section.blocklinks,
body.page section.blocklinks {
  margin: 5.052vw 0;
}
.art1 .instruments,
.articles .instruments,
.instr1 .instruments,
.instructions .instruments,
.quest1 .instruments,
.questions .instruments,
body.page .instruments {
  -moz-column-gap: 4.479vw;
  column-gap: 4.479vw;
  display: flex;
  margin: 1.042vw 0 0;
}
.art1 .instrumentblock,
.articles .instrumentblock,
.instr1 .instrumentblock,
.instructions .instrumentblock,
.quest1 .instrumentblock,
.questions .instrumentblock,
body.page .instrumentblock {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.406vw;
}
.art1 .instrumentsquare,
.articles .instrumentsquare,
.instr1 .instrumentsquare,
.instructions .instrumentsquare,
.quest1 .instrumentsquare,
.questions .instrumentsquare,
body.page .instrumentsquare {
  align-items: center;
  background-color: #b6cafa;
  background-color: var(--blue);
  border-radius: 1.563vw;
  display: flex;
  height: 9.115vw;
  justify-content: center;
  width: 9.115vw;
}
.art1 .step,
.articles .step,
.instr1 .step,
.instructions .step,
.quest1 .step,
.questions .step,
body.page .step {
  align-items: center;
  -moz-column-gap: 2.5vw;
  column-gap: 2.5vw;
  display: flex;
  flex-direction: row;
  margin: 1.042vw 0 0;
}
@font-face {
  font-family: Aeonik Pro;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/AeonikPro-Light.otf) format('opentype'),
    url(fonts/AeonikPro-Light.otf) format('opentype');
}
@font-face {
  font-family: Aeonik Pro;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/AeonikPro-Medium.otf) format('opentype'),
    url(fonts/AeonikPro-Medium.otf) format('opentype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Inter-Regular.ttf) format('truetype'),
    url(fonts/Inter-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Inter-SemiBold.ttf) format('truetype'),
    url(fonts/Inter-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: Vela Sans;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/VelaSans-Regular.otf) format('opentype'),
    url(fonts/VelaSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: Vela Sans;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/VelaSans-Medium.otf) format('opentype'),
    url(fonts/VelaSans-Medium.otf) format('opentype');
}
@font-face {
  font-family: Vela Sans;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/VelaSans-SemiBold.otf) format('opentype'),
    url(fonts/VelaSans-SemiBold.otf) format('opentype');
}
@font-face {
  font-family: Polite Type;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PoliteType-Regular.ttf) format('truetype'),
    url(fonts/PoliteType-Regular.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Aeonik Pro, Helvetica, Arial, sans-serif;
  font-weight: 500;
}
body.index {
  background: no-repeat top/100% url(images/9b2f635b96742f7595a2.png);
  background-color: #fb6217;
  background-color: var(--orange);
  color: #fff9ef;
  color: var(--cream);
  font-size: 35px;
  line-height: 40px;
}
body.index h1 {
  font-size: 512px;
  letter-spacing: 5px;
  line-height: 589px;
  margin: -42px 0 0 56px;
}
body.index h3 {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  line-height: 63px;
  position: relative;
  text-align: center;
  width: 840px;
}
body.index footer {
  align-items: center;
  background-color: #fff9ef;
  background-color: var(--cream);
  color: #fb6217;
  color: var(--orange);
  display: flex;
  height: 9.271vw;
  justify-content: space-between;
  padding: 0 75px;
  position: block;
}
body.index footer p {
  font-size: 20px;
  letter-spacing: 0.01vw;
  line-height: 27px;
  text-transform: lowercase;
}
body.index footer p.we {
  margin: 0 0 0 2.8vw;
}
body.index footer p.we-a {
  display: none;
}
body.index footer span.and {
  display: inline;
  font-weight: 300;
  margin: 0 1.23vw;
}
body.index footer .biglogotype {
  background: no-repeat 50%/100% url(images/9f15e764663fb936800e.svg);
  display: block;
  height: 3.551vw;
  margin: 0;
  position: relative;
  width: 8.323vw;
}
body.index footer .sashaportfolio {
  background: no-repeat 50%/100% url(images/df5a1a55904c45e2338a.svg);
  display: block;
  height: 4.099vw;
  margin-left: auto;
  position: relative;
  width: 4.099vw;
}
body.index footer .ulyanaportfolio {
  background: no-repeat 50%/100% url(images/bfd82bbf97108aa4d2a7.svg);
}
body.index footer .dimaportfolio,
body.index footer .ulyanaportfolio {
  display: block;
  height: 4.099vw;
  margin: 0 0 0 -0.75vw;
  position: relative;
  width: 4.099vw;
}
body.index footer .dimaportfolio {
  background: no-repeat 50%/100% url(images/6123b2560747f178add6.svg);
}
body.index footer .hselogo {
  background: no-repeat 50%/100% url(images/3714ae51ce18d37f4e58.svg);
  height: 3.67vw;
  margin: 0 0 0 1.6vw;
  width: 9.323vw;
}
body.index footer .hselogo,
body.index section {
  display: block;
  position: relative;
}
body.index section.manwiththings {
  padding: 0 0 5vw;
}
body.index section.selfservie {
  height: 36vw;
}
body.index section.mailcollector,
body.index section.selfservie {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
body.index section.mailcollector {
  flex-direction: column;
  height: 34vw;
}
body.index p {
  text-transform: lowercase;
}
body.index p.quote {
  display: flex;
  font-size: 70px;
  margin: 12.1vw auto 0;
  width: 480px;
}
body.index p.whatsnext {
  display: flex;
  margin: -0.2vw auto 0;
  width: 480px;
}
body.index p#my-form-status {
  color: #ffa87a;
  color: var(--unhoverlink);
  font-size: 20px;
  letter-spacing: 0.01vw;
  line-height: 0.07vw;
  margin: 0.6vw 0 0;
}
body.index a {
  font-size: 35px;
  letter-spacing: 0.018vw;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.4s;
}
body.index a.aboutpage {
  color: #ffa87a;
  color: var(--unhoverlink);
  display: block;
  margin-right: auto;
  margin-top: -0.36vw;
  position: relative;
}
body.index a.aboutpage:hover {
  color: #fff9ef;
  color: var(--cream);
}
body.index .navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 39px 75px 0;
}
body.index .navigation .logotype {
  background: no-repeat 50%/100% url(images/947324a137101ead6efd.svg);
  display: block;
  height: 42px;
  margin: 0 40px 0 0;
  position: relative;
  width: 42px;
}
body.index .navigation .vk {
  background: no-repeat 50%/100% url(images/cd9483405039cc9e56ee.svg);
  display: block;
  height: 35px;
  position: relative;
  width: 54px;
}
body.index .navigation .telegram {
  background: no-repeat 50%/100% url(images/b291577ce96fdb75408d.svg);
  display: block;
  height: 41px;
  margin: 0 0 0 33px;
  position: relative;
  width: 44px;
}
body.index .navigation .dzen {
  background: no-repeat 50%/100% url(images/9d79f15e6f91d5be15f6.svg);
  display: block;
  height: 44px;
  margin: 0 0 0 43px;
  position: relative;
  width: 44px;
}
body.index .follow {
  width: 640px;
}
body.index .image {
  display: block;
  position: relative;
}
body.index .image#anotherthings {
  height: 38.958vw;
  margin: -16.3vw auto 0;
  position: sticky;
  top: 10vw;
  width: 89.635vw;
}
body.index .image#holod {
  background: no-repeat 50%/100% url(images/07abefb77d36852c8832.png);
  height: 28.9vw;
  top: 6.4vw;
  width: 14.58vw;
}
body.index .image#okno {
  background: no-repeat 50%/100% url(images/f8fd080389ee0949c2a0.png);
  height: 21.25vw;
  left: 20.8vw;
  top: -17vw;
  width: 19.12vw;
}
body.index .image#shkaf {
  background: no-repeat 50%/100% url(images/5163e37ad8a5ccea5c76.png);
  height: 33.54vw;
  left: 53vw;
  top: -50.1vw;
  width: 24.0625vw;
}
body.index .image#plita {
  background: no-repeat 50%/100% url(images/b2d39225769b2dce6373.png);
  height: 16.35vw;
  left: 56.8vw;
  top: -61vw;
  width: 16.04vw;
}
body.index .image#stirka {
  background: no-repeat 50%/100% url(images/1c5855a72a8c9a07462c.png);
  height: 14.17vw;
  left: 79.3vw;
  top: -81.6vw;
  width: 10.4vw;
}
body.index .image#battteryandhoover {
  height: 18.229vw;
  margin: -19.2vw auto -5vw;
  position: sticky;
  top: 30vw;
  width: 89.635vw;
  z-index: 10;
}
body.index .image#batareya {
  background: no-repeat 50%/100% url(images/f191aebe0eb78e116109.png);
  height: 9.17vw;
  left: 11.4vw;
  top: 9vw;
  width: 14.11vw;
}
body.index .image#pilesos {
  background: no-repeat 50%/100% url(images/b3a54310385731f2df18.png);
  height: 18.02vw;
  left: 32.6vw;
  top: -9vw;
  width: 17.08vw;
}
body.index .image#shape1_man {
  background-image: url(images/0395278537068341fb7d.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 18.438vw;
  margin: 43.7vw 0 0 25.55vw;
  width: 24.323vw;
  z-index: 5;
}
body.index input {
  all: unset;
  background: none;
  border: 0;
  border-bottom: 0.156vw solid #fff;
  box-shadow: none;
  color: var(---unhoverlink);
  font-family: Aeonik Pro;
  font-size: 35px;
  padding: 0 0 1vw 0.2vw;
  text-transform: lowercase;
  width: 640px;
}
body.index form {
  display: flex;
  flex-direction: column;
  margin: 2vw 0 0;
  position: relative;
  width: 640px;
}
body.index button {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: none;
  border-radius: 2.083vw;
  color: #fb6217;
  color: var(--orange);
  display: block;
  font-family: Aeonik Pro;
  font-size: 35px;
  height: 3.021vw;
  margin: 3.12vw 0 0;
  position: relative;
  text-transform: lowercase;
  transition: 0.4s;
  width: 13.542vw;
}
body.index button:hover {
  background-color: #ffa87a;
  background-color: var(--unhoverlink);
  cursor: pointer;
}
@media only screen and (min-width: 1195px) and (max-width: 1536px) {
  body.page {
    font-size: 29px;
    line-height: 34px;
  }
  body.page .navigation .logotype {
    height: 35px;
    margin: 0 34px 0 0;
    width: 35px;
  }
  body.page .navigation .vk {
    height: 28px;
    width: 44px;
  }
  body.page .navigation .telegram {
    height: 29px;
    margin: 0 0 0 27px;
    width: 31px;
  }
  body.page .navigation .dzen {
    height: 31px;
    margin: 0 0 0 35px;
    width: 31px;
  }
  body.page a {
    font-size: 29px;
  }
  body.page h1 {
    font-size: 426px;
    letter-spacing: 4px;
    line-height: 490px;
    margin: -34px 0 0 56px;
  }
  body.page h3 {
    font-size: 53px;
    line-height: 61px;
    width: 830px;
  }
  body.page a.aboutpage {
    font-size: 29px;
  }
  body.page p.whatsnext {
    width: 390px;
  }
  body.page p.quote {
    font-size: 58px;
    width: 390px;
  }
  body.page .follow {
    width: 525px;
  }
  body.page input {
    font-size: 29px;
    width: 525px;
  }
  body.page form {
    width: 525px;
  }
  body.page button {
    font-size: 29px;
  }
  body.page footer p {
    font-size: 16px;
    line-height: 21px;
  }
  body.page .image#battteryandhoover {
    height: 21.229vw;
    top: 43vw;
  }
  body.page .image#anotherthings {
    height: 43.95vw;
    top: 21.2vw;
    width: 87.23vw;
  }
  body.page .image#holod {
    height: 32.6vw;
    top: 3.6vw;
    width: 16.449vw;
  }
  body.page .image#okno {
    height: 24vw;
    left: 23.6vw;
    top: -22.9vw;
    width: 21.56vw;
  }
  body.page .image#shkaf {
    height: 37.84vw;
    left: 59.8vw;
    top: -60.1vw;
    width: 27.14vw;
  }
  body.page .image#plita {
    height: 18.45vw;
    left: 64.1vw;
    top: -72.6vw;
    width: 18.09vw;
  }
  body.page .image#stirka {
    display: none;
  }
  body.page .image#batareya {
    height: 10.35vw;
    left: 14.2vw;
    top: 7.9vw;
    width: 15.95vw;
  }
  body.page .image#pilesos {
    height: 20.5vw;
    left: 38.1vw;
    top: -12.4vw;
    width: 19.53vw;
  }
  body.page .image#shape1_man {
    height: 22.49vw;
    margin: 43.7vw 0 0 25.55vw;
    width: 28.71vw;
  }
}
@media only screen and (min-width: 835px) and (max-width: 1194px) and (orientation: landscape) {
  body.page {
    font-size: 25px;
    line-height: 30px;
  }
  body.page .navigation {
    padding: 39px 40px 0;
  }
  body.page .navigation .logotype {
    height: 31px;
    margin: 0 29px 0 0;
    width: 31px;
  }
  body.page .navigation .vk {
    height: 25px;
    width: 38px;
  }
  body.page .navigation .telegram {
    height: 34px;
    margin: 0 0 0 23px;
    width: 36px;
  }
  body.page .navigation .dzen {
    height: 36px;
    margin: 0 0 0 30px;
    width: 36px;
  }
  body.page a {
    font-size: 25px;
  }
  body.page h1 {
    font-size: 350px;
    letter-spacing: 3px;
    line-height: 402px;
    margin: -11px 0 0 25px;
  }
  body.page h3 {
    font-size: 47px;
    line-height: 54px;
    width: 730px;
  }
  body.page p.whatsnext {
    width: 345px;
  }
  body.page p.quote {
    font-size: 51px;
    width: 345px;
  }
  body.page .follow {
    width: 460px;
  }
  body.page input {
    font-size: 25px;
    width: 460px;
  }
  body.page form {
    width: 460px;
  }
  body.page button {
    font-size: 25px;
  }
  body.page footer {
    padding: 0 40px;
  }
  body.page footer p {
    font-size: 14px;
    line-height: 18px;
  }
  body.page .image#anotherthings {
    height: 43.95vw;
    top: 21.2vw;
    width: 87.23vw;
  }
  body.page .image#battteryandhoover {
    height: 21.229vw;
    top: 46vw;
  }
  body.page .image#holod {
    display: none;
  }
  body.page .image#okno {
    height: 28vw;
    left: 12.3vw;
    top: 11.4vw;
    width: 25.2vw;
  }
  body.page .image#shkaf {
    height: 44.36vw;
    left: 54.4vw;
    top: -32.2vw;
    width: 31.82vw;
  }
  body.page .image#plita {
    height: 21.63vw;
    left: 59.6vw;
    top: -46.8vw;
    width: 21.21vw;
  }
  body.page .image#stirka {
    display: none;
  }
  body.page .image#batareya {
    height: 12.06vw;
    left: 1.3vw;
    top: 8.9vw;
    width: 18.67vw;
  }
  body.page .image#pilesos {
    height: 24.03vw;
    left: 29vw;
    top: -14.8vw;
    width: 22.78vw;
  }
  body.page .image#shape1_man {
    height: 24.12vw;
    margin: 43.7vw 0 0 16.55vw;
    width: 32vw;
  }
}
@media only screen and (min-width: 835px) and (max-width: 1194px) and (orientation: portrait) {
  body.page {
    font-size: 25px;
    line-height: 30px;
  }
  body.page .navigation {
    padding: 39px 40px 0;
  }
  body.page .navigation .logotype {
    height: 31px;
    margin: 0 29px 0 0;
    width: 31px;
  }
  body.page .navigation .vk {
    height: 25px;
    width: 38px;
  }
  body.page .navigation .telegram {
    height: 34px;
    margin: 0 0 0 23px;
    width: 36px;
  }
  body.page .navigation .dzen {
    height: 36px;
    margin: 0 0 0 30px;
    width: 36px;
  }
  body.page a {
    font-size: 25px;
  }
  body.page h1 {
    font-size: 350px;
    letter-spacing: 3px;
    line-height: 402px;
    margin: -11px 0 0 25px;
  }
  body.page h3 {
    font-size: 47px;
    line-height: 54px;
    width: 730px;
  }
  body.page p.whatsnext {
    width: 345px;
  }
  body.page p.quote {
    font-size: 51px;
    width: 345px;
  }
  body.page .follow {
    width: 460px;
  }
  body.page input {
    font-size: 25px;
    width: 460px;
  }
  body.page form {
    width: 460px;
  }
  body.page button {
    font-size: 25px;
  }
  body.page footer {
    padding: 0 40px;
  }
  body.page footer p {
    font-size: 14px;
    line-height: 18px;
  }
  body.page .image#anotherthings {
    height: 43.95vw;
    top: 21.2vw;
    width: 87.23vw;
  }
  body.page .image#battteryandhoover {
    height: 22.229vw;
    top: 45vw;
  }
  body.page .image#holod {
    display: none;
  }
  body.page .image#okno {
    height: 28vw;
    left: 12.3vw;
    top: 11.4vw;
    width: 25.2vw;
  }
  body.page .image#shkaf {
    height: 44.36vw;
    left: 54.4vw;
    top: -32.2vw;
    width: 31.82vw;
  }
  body.page .image#plita {
    height: 21.63vw;
    left: 59.6vw;
    top: -46.8vw;
    width: 21.21vw;
  }
  body.page .image#stirka {
    display: none;
  }
  body.page .image#batareya {
    height: 12.06vw;
    left: 1.3vw;
    top: 8.9vw;
    width: 18.67vw;
  }
  body.page .image#pilesos {
    height: 24.03vw;
    left: 29vw;
    top: -14.8vw;
    width: 22.78vw;
  }
  body.page .image#shape1_man {
    height: 24.12vw;
    margin: 43.7vw 0 0 16.55vw;
    width: 32vw;
  }
}
@media only screen and (min-width: 429px) and (max-width: 834px) {
  body.page {
    background: no-repeat top/100% url(images/59ea75c688b363af94ac.png);
    font-size: 25px;
    line-height: 30px;
  }
  body.page .navigation {
    padding: 39px 40px 0;
  }
  body.page .navigation .logotype {
    height: 31px;
    margin: 0 29px 0 0;
    width: 31px;
  }
  body.page .navigation .vk {
    height: 25px;
    width: 38px;
  }
  body.page .navigation .telegram {
    height: 34px;
    margin: 0 0 0 23px;
    width: 36px;
  }
  body.page .navigation .dzen {
    height: 36px;
    margin: 0 0 0 30px;
    width: 36px;
  }
  body.page section.manwiththings {
    height: 390vw;
  }
  body.page section.mailcollector {
    height: 96vw;
  }
  body.page a {
    font-size: 25px;
  }
  body.page h1 {
    font-size: 285px;
    letter-spacing: 3px;
    line-height: 328px;
    margin: 0 0 0 28px;
  }
  body.page h3 {
    font-size: 47px;
    line-height: 54px;
    width: 680px;
  }
  body.page p.whatsnext {
    width: 345px;
  }
  body.page p.quote {
    font-size: 51px;
    margin: 20vw auto 0;
    width: 345px;
  }
  body.page .follow {
    width: 460px;
  }
  body.page input {
    font-size: 25px;
    width: 460px;
  }
  body.page form {
    width: 460px;
  }
  body.page button {
    font-size: 25px;
    height: 4.021vw;
    width: 16.542vw;
  }
  body.page footer {
    padding: 0 40px;
  }
  body.page footer p {
    font-size: 16px;
    line-height: 17px;
  }
  body.page footer p.we {
    display: none;
  }
  body.page footer p.we-a {
    display: block;
    margin: 0 0 0 2.8vw;
  }
  body.page footer .dimaportfolio,
  body.page footer .sashaportfolio,
  body.page footer .ulyanaportfolio {
    height: 6.42vw;
    width: 6.42vw;
  }
  body.page footer .hselogo {
    height: 5.802vw;
    margin: 0 0 0 3.333vw;
    width: 14.321vw;
  }
  body.page footer .biglogotype {
    height: 4.321vw;
    width: 9.877vw;
  }
  body.page .image#anotherthings {
    height: 101.805vw;
    top: 21.2vw;
    width: 100vw;
  }
  body.page .image#battteryandhoover {
    height: 23.229vw;
    top: 104vw;
  }
  body.page .image#holod {
    display: none;
  }
  body.page .image#okno {
    height: 47.266vw;
    left: -8vw;
    top: 49.2vw;
    width: 42.48vw;
  }
  body.page .image#shkaf {
    height: 74.902vw;
    left: 43vw;
    top: -25.2vw;
    width: 53.771vw;
  }
  body.page .image#batareya,
  body.page .image#plita,
  body.page .image#stirka {
    display: none;
  }
  body.page .image#pilesos {
    height: 40.234vw;
    left: 13vw;
    top: -13.6vw;
    width: 38.184vw;
  }
  body.page .image#shape1_man {
    height: 42.383vw;
    margin: 170vw 0 0 -9.45vw;
    width: 56.055vw;
  }
}
@media only screen and (min-width: 320px) and (max-width: 428px) {
  body.page {
    background: no-repeat top/100% url(images/59ea75c688b363af94ac.png);
    font-size: 18px;
    line-height: 20px;
  }
  body.page .navigation {
    padding: 22px 16px 0;
  }
  body.page .navigation .logotype {
    height: 26px;
    margin: 0 16px 0 0;
    width: 26px;
  }
  body.page .navigation .vk {
    height: 20px;
    width: 32px;
  }
  body.page .navigation .telegram {
    height: 26px;
    margin: 0 0 0 17px;
    width: 28px;
  }
  body.page .navigation .dzen {
    height: 26px;
    margin: 0 0 0 19px;
    width: 26px;
  }
  body.page section.manwiththings {
    height: 481vw;
  }
  body.page section.mailcollector {
    height: 103vw;
  }
  body.page a {
    font-size: 18px;
  }
  body.page h1 {
    font-size: 186px;
    letter-spacing: 2px;
    line-height: 214px;
    margin: 22px 0 0 9px;
  }
  body.page h3 {
    font-size: 28px;
    line-height: 32px;
    width: 328px;
  }
  body.page p.whatsnext {
    width: 240px;
  }
  body.page p.quote {
    font-size: 36px;
    width: 240px;
  }
  body.page .follow {
    width: 328px;
  }
  body.page input {
    font-size: 18px;
    width: 328px;
  }
  body.page form {
    width: 328px;
  }
  body.page button {
    border-radius: 10vw;
    font-size: 18px;
    height: 5.6vw;
    width: 24.542vw;
  }
  body.page footer {
    height: 13.271vw;
    padding: 0 42px;
  }
  body.page footer p {
    font-size: 9px;
    line-height: 9px;
  }
  body.page footer p.we {
    display: none;
  }
  body.page footer p.we-a {
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0 0 0 2.8vw;
  }
  body.page footer .dimaportfolio,
  body.page footer .sashaportfolio,
  body.page footer .ulyanaportfolio {
    display: none;
  }
  body.page footer .hselogo {
    height: 5.607vw;
    margin-left: auto;
    width: 14.486vw;
  }
  body.page footer .biglogotype {
    height: 5.607vw;
    width: 13.318vw;
  }
  body.page .image#anotherthings {
    height: 129.805vw;
    top: 21.2vw;
    width: 100vw;
  }
  body.page .image#battteryandhoover {
    height: 26.229vw;
    top: 139vw;
  }
  body.page .image#holod {
    display: none;
  }
  body.page .image#okno {
    height: 82.813vw;
    left: -14vw;
    top: 46.2vw;
    width: 73.383vw;
  }
  body.page .image#shkaf {
    background: no-repeat 0/387% url(images/5163e37ad8a5ccea5c76.png);
    height: 132.944vw;
    left: 75vw;
    top: -82vw;
    width: 24.766vw;
  }
  body.page .image#batareya,
  body.page .image#plita,
  body.page .image#stirka {
    display: none;
  }
  body.page .image#pilesos {
    height: 77.963vw;
    left: 19vw;
    top: -40vw;
    width: 67.028vw;
  }
  body.page .image#shape1_man {
    height: 72.897vw;
    margin: 140vw 0 24vw -33.45vw;
    width: 96.262vw;
  }
}
body.about {
  background-color: #fff9ef;
  background-color: var(--cream);
  color: #fb6217;
  color: var(--orange);
  font-size: 1.823vw;
}
body.about header {
  height: 56.354vw;
  position: block;
}
body.about section {
  position: block;
}
body.about section.whoweare {
  background-color: #fb6217;
  background-color: var(--orange);
  color: #fff9ef;
  color: var(--cream);
  height: 65.938vw;
}
body.about section.ourmisson {
  height: 89.948vw;
  padding: 8.1vw 0 0;
}
body.about footer {
  background-color: #fb6217;
  background-color: var(--orange);
  color: #fff9ef;
  color: var(--cream);
  height: 9.271vw;
  position: block;
}
body.about footer p {
  font-size: 1.042vw;
  letter-spacing: 0.01vw;
  line-height: 1.375vw;
  text-transform: lowercase;
}
body.about footer p.we {
  margin: 0 0 0 2.8vw;
}
body.about footer p.we-a {
  display: none;
}
body.about footer span.and {
  display: inline;
  font-weight: 300;
  margin: 0 1.23vw;
}
body.about footer .footercontent {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 2.7vw 2.3vw 0;
  position: relative;
}
body.about footer .biglogotype {
  background: no-repeat 50%/100% url(images/2063c0d8a7704200e99a.svg);
  display: block;
  height: 3.551vw;
  margin: 0;
  position: relative;
  width: 8.323vw;
}
body.about footer .sashaportfolio {
  background: no-repeat 50%/100% url(images/8a3028b121fd2cef38ad.svg);
  display: block;
  height: 4.099vw;
  margin: 0 0 0 31vw;
  position: relative;
  width: 4.099vw;
}
body.about footer .ulyanaportfolio {
  background: no-repeat 50%/100% url(images/c90c37f7f81dab0b8ff4.svg);
}
body.about footer .dimaportfolio,
body.about footer .ulyanaportfolio {
  display: block;
  height: 4.099vw;
  margin: 0 0 0 -0.75vw;
  position: relative;
  width: 4.099vw;
}
body.about footer .dimaportfolio {
  background: no-repeat 50%/100% url(images/96bc33438287def868e1.svg);
}
body.about footer .hselogo {
  background: no-repeat 50%/100% url(images/0e3ff37ba8d2894a462c.svg);
  display: block;
  height: 3.67vw;
  margin: 0 0 0 1.6vw;
  position: relative;
  width: 9.323vw;
}
body.about p {
  display: block;
  letter-spacing: 0.018vw;
  line-height: 2.083vw;
  position: relative;
}
body.about p.headertext {
  margin: 4.6vw 0 0 3.76vw;
  width: 37.4vw;
}
body.about p.whowearetext {
  margin: 3.7vw 0 0 3.76vw;
  width: 32.292vw;
}
body.about a {
  letter-spacing: 0.018vw;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.4s;
}
body.about a.promo {
  color: #ffa87a;
  color: var(--unhoverlink);
  display: block;
  margin-right: auto;
  margin-top: -0.36vw;
  position: relative;
}
body.about a.promo:hover {
  color: #fb6217;
  color: var(--orange);
}
body.about a.promobutton {
  background-color: #fb6217;
  background-color: var(--orange);
  border-radius: 2.083vw;
  color: #fff9ef;
  color: var(--cream);
  display: flex;
  flex-direction: row;
  height: 3.021vw;
  justify-content: center;
  margin: 0.04vw 0 0 -0.6vw;
  padding: 0.44vw 0;
  position: relative;
  text-align: center;
  width: 26.25vw;
}
body.about a.promobutton:hover {
  background-color: #ffa87a;
  background-color: var(--unhoverlink);
}
body.about a.promobutton > .arrowtoright {
  margin: 0.62vw 0 0 1.6vw;
}
body.about h1 {
  font-size: 11.458vw;
  letter-spacing: 0.115vw;
  line-height: 10.771vw;
  margin: 2.68vw 0 0;
  padding: 0 3.14vw;
}
body.about h2 {
  font-size: 5.208vw;
  letter-spacing: 0.052vw;
  line-height: 5.156vw;
  padding: 5.469vw 0 0 3.802vw;
  width: 64vw;
}
body.about h2,
body.about h3 {
  display: block;
  position: relative;
}
body.about h3 {
  font-size: 3.333vw;
  letter-spacing: 0.033vw;
  line-height: 3.3vw;
}
body.about .navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2.14vw 3.906vw 0;
}
body.about .logotype {
  background: no-repeat 50%/100% url(images/f8c7138aa456f8fa4df4.svg);
  display: block;
  height: 2.188vw;
  margin: 0 2.1vw 0 0;
  position: relative;
  width: 2.188vw;
}
body.about .vk {
  background: no-repeat 50%/100% url(images/6f80ed2753a93c55eefd.svg);
  display: block;
  height: 1.823vw;
  position: relative;
  width: 2.813vw;
}
body.about .telegram {
  background: no-repeat 50%/100% url(images/bfe7892083e8c3017407.svg);
  height: 2.135vw;
  margin: 0 0 0 1.8vw;
}
body.about .dzen,
body.about .telegram {
  display: block;
  position: relative;
  width: 2.292vw;
}
body.about .dzen {
  background: no-repeat 50%/100% url(images/dc39f6fe114b244f4bdf.svg);
  height: 2.292vw;
  margin: 0 0 0 2.2vw;
}
body.about .shapeman {
  background: no-repeat 50%/100% url(images/0395278537068341fb7d.png);
  display: block;
  height: 26.927vw;
  margin: -13vw 0 0 58.8vw;
  position: relative;
  width: 35.521vw;
}
body.about .bottomarrow {
  animation: arrowmove 2s infinite;
  background: no-repeat 50%/100% url(images/9e0559ff40c1ef4bbdfa.svg);
  display: block;
  height: 3.177vw;
  margin: -3.07vw 0 0 3.76vw;
  position: relative;
  width: 3.177vw;
}
@keyframes arrowmove {
  0% {
    margin-top: -3.07vw;
  }
  50% {
    margin-top: -2.6vw;
  }
  to {
    margin-top: -3.07vw;
  }
}
body.about .hiddentext2 {
  display: none;
}
body.about .mobilewarframes {
  background: no-repeat 50%/100% url(images/1db5cbef498b32a100e5.png);
  display: block;
  height: 46.007vw;
  margin: -18.4vw 0 0 38.303vw;
  position: relative;
  width: 57.745vw;
}
body.about .ourpluses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3.594vw auto 0;
  width: 92.083vw;
}
body.about .ourpluses p {
  font-size: 1.719vw;
  font-weight: 300;
  letter-spacing: 0.017vw;
  line-height: 1.788vw;
}
body.about .howtopay {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 23.958vw;
}
body.about .flipthescreen {
  display: none;
}
body.about .pipeburst {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20.521vw;
}
body.about .pipeburst p {
  width: 17.917vw;
}
body.about .pumpkin {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20.938vw;
}
body.about .arrowtoright {
  background: no-repeat 50%/100% url(images/de89130df64251006d3d.png);
  display: block;
  height: 0.847vw;
  margin: 0.6vw 0 0;
  position: relative;
  width: 0.587vw;
}
.desktopwarframe {
  background: no-repeat 50%/100% url(images/a579e1aa2fe601bdbec9.png);
  display: block;
  height: 47.396vw;
  margin: 0 auto;
  position: relative;
  width: 92.353vw;
}
.ourmissontextbox {
  grid-row-gap: 4.7vw;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  margin: 8.5vw auto 0;
  position: relative;
  row-gap: 4.7vw;
  width: 51.5vw;
}
.mission {
  grid-column-end: 3;
  grid-column-start: 1;
}
@media only screen and (min-width: 360px) and (max-device-width: 768px) {
  body.about {
    font-size: 4vw;
  }
  body.about header {
    height: 196.923vw;
  }
  body.about section.whoweare {
    height: 216.41vw;
  }
  body.about h1 {
    font-size: 23.077vw;
    line-height: 21.692vw;
    margin: 15.385vw 0 0;
  }
  body.about h2 {
    font-size: 8.974vw;
    line-height: 8.885vw;
    padding-top: 10.513vw;
  }
  body.about h3 {
    font-size: 6.41vw;
    line-height: 6.346vw;
  }
  body.about .navigation {
    margin: 13.846vw 2vw 0;
  }
  body.about .navigation .logotype {
    margin-right: 7vw;
    transform: scale(2.5);
  }
  body.about .navigation .dzen,
  body.about .navigation .telegram,
  body.about .navigation .vk {
    margin-left: 5vw;
    transform: scale(2);
  }
  body.about p {
    font-size: 4.103vw;
    line-height: 4.615vw;
  }
  body.about p.headertext {
    width: 57.436vw;
  }
  body.about p.whowearetext {
    display: none;
  }
  body.about .shapeman {
    height: 55.385vw;
    margin: 6.667vw 0 0 22.051vw;
    width: 74.103vw;
  }
  body.about .bottomarrow {
    height: 6.667vw;
    margin: -6.667vw 0 5vw 3.76vw;
    width: 6.667vw;
  }
  body.about .hiddentext2 {
    display: inline-block;
    width: 87.179vw;
  }
  body.about .hiddentext1 {
    display: none;
  }
  body.about .mobilewarframes {
    background: no-repeat 50%/100% url(images/7f2b6788889818942347.png);
    display: block;
    height: 136.667vw;
    margin: 15.128vw 0 0 18.718vw;
    position: relative;
    width: 62.821vw;
  }
  body.about .whoweare p {
    font-size: 3.846vw;
    line-height: 4vw;
  }
  body.about .ourpluses {
    margin-top: 8.718vw;
    width: 92.564vw;
  }
  body.about .ourpluses .howtopay .hiddentext2 {
    width: 22.513vw;
  }
  body.about .ourpluses .pipeburst {
    width: 25vw;
  }
  body.about .ourpluses .pipeburst .hiddentext2 {
    width: 23.615vw;
  }
  body.about .ourpluses .pumpkin {
    width: 33.3vw;
  }
  body.about .ourpluses .pumpkin .hiddentext2 {
    width: 33vw;
  }
  body.about .ourpluses .arrowtoright {
    margin-right: 2.308vw;
  }
  body.about .arrowtoright {
    height: 2.2vw;
    margin-top: 1vw;
    width: 1.5vw;
  }
  body.about .desktopwarframe {
    display: none;
  }
  body.about .flipthescreen {
    display: flex;
  }
  body.about .flipthescreen .twoarrows {
    background: no-repeat 50%/100% url(images/f5edd96bc53cb2950c42.svg);
    display: block;
    height: 6.667vw;
    margin-left: 3.76vw;
    margin-right: 3.333vw;
    position: relative;
    width: 6.667vw;
  }
  body.about .flipthescreen p {
    font-size: 1.8vw;
    letter-spacing: 0.01vw;
    line-height: 1.7vw;
    padding-top: 1.8vw;
  }
  body.about .ourmissontextbox {
    margin: 26.154vw 0 0 3.76vw;
    width: 91.795vw;
  }
  body.about .ourmissontextbox h3 {
    width: 73.333vw;
  }
  body.about .ourmissontextbox .promobutton {
    border-radius: 5vw;
    font-size: 4.103vw;
    height: 6.667vw;
    line-height: 4.615vw;
    margin: 0.04vw 2vw 0 -38vw;
    padding: 0.9vw 3.846vw 0;
    text-align: center;
    width: 57.179vw;
  }
  body.about .ourmissontextbox .promobutton .arrowtoright {
    margin-top: 1.5vw;
  }
  body.about footer {
    height: 12vw;
  }
  body.about footer .dimaportfolio,
  body.about footer .sashaportfolio,
  body.about footer .ulyanaportfolio {
    display: none;
  }
  body.about footer .biglogotype {
    margin: 1.5vw 0 0 8vw;
    transform: scale(1.5);
  }
  body.about footer .hselogo {
    margin: 1.5vw 0 0 35vw;
    transform: scale(1.5);
  }
  body.about footer p {
    font-size: 1.8vw;
    letter-spacing: 0.01vw;
    line-height: 1.7vw;
  }
  body.about footer p.we {
    display: none;
  }
  body.about footer p.we-a {
    display: block;
    margin: 1.1vw 0 0 5vw;
  }
  @keyframes arrowmove {
    0% {
      margin-top: -6.667vw;
    }
    50% {
      margin-top: -5.8vw;
    }
    to {
      margin-top: -6.667vw;
    }
  }
}
body.articles .articlespage,
body.instructions .instructionspage {
  font-weight: 600;
}
