a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --white: #fff;
  --black: #000;
  --orange: #fb6217;
  --cream: #fff9ef;
  --blue: #b6cafa;
  --yellow: #f6d81f;
  --grey: #c4c4c4;
  --unhoverlink: #ffa87a;
}
.art1,
.articles,
.instr1,
.instructions,
.quest1,
.questions,
body.page {
  background-color: #fff9ef;
  background-color: var(--cream);
  color: #000;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: Vela Sans, serif;
  font-size: 1.458vw;
  font-weight: 500;
  line-height: 2.115vw;
  margin: 0 2.083vw;
}
.art1 h1,
.articles h1,
.instr1 h1,
.instructions h1,
.quest1 h1,
.questions h1,
body.page h1 {
  font-size: 2.604vw;
  font-weight: 500;
  line-height: 3.542vw;
}
.art1 h2,
.articles h2,
.instr1 h2,
.instructions h2,
.quest1 h2,
.questions h2,
body.page h2 {
  display: block;
  font-size: 2.344vw;
  line-height: 2.695vw;
  position: relative;
}
.art1 h2.h2post,
.articles h2.h2post,
.instr1 h2.h2post,
.instructions h2.h2post,
.quest1 h2.h2post,
.questions h2.h2post,
body.page h2.h2post {
  line-height: 3.542vw;
  margin: 3.125vw 0 1.042vw;
}
.art1 p,
.articles p,
.instr1 p,
.instructions p,
.quest1 p,
.questions p,
body.page p {
  font-size: 1.458vw;
  line-height: 2.115vw;
}
.art1 p.instrumenttext,
.articles p.instrumenttext,
.instr1 p.instrumenttext,
.instructions p.instrumenttext,
.quest1 p.instrumenttext,
.questions p.instrumenttext,
body.page p.instrumenttext {
  font-size: 0.938vw;
  line-height: 1.146vw;
  text-align: center;
}
.art1 p.instructiontext,
.articles p.instructiontext,
.instr1 p.instructiontext,
.instructions p.instructiontext,
.quest1 p.instructiontext,
.questions p.instructiontext,
body.page p.instructiontext {
  width: 56.927vw;
}
.art1 nav,
.articles nav,
.instr1 nav,
.instructions nav,
.quest1 nav,
.questions nav,
body.page nav {
  align-items: center;
  color: #fb6217;
  color: var(--orange);
  display: flex;
  font-size: 1.25vw;
  justify-content: space-between;
  margin: 2.083vw 0;
}
.art1 nav a,
.articles nav a,
.instr1 nav a,
.instructions nav a,
.quest1 nav a,
.questions nav a,
body.page nav a {
  color: #fb6217;
  color: var(--orange);
  font-weight: 600;
}
.art1 .articlespage,
.art1 .instructionspage,
.articles .articlespage,
.articles .instructionspage,
.instr1 .articlespage,
.instr1 .instructionspage,
.instructions .articlespage,
.instructions .instructionspage,
.quest1 .articlespage,
.quest1 .instructionspage,
.questions .articlespage,
.questions .instructionspage,
body.page .articlespage,
body.page .instructionspage {
  margin-right: 2.5vw;
}
.art1 input,
.articles input,
.instr1 input,
.instructions input,
.quest1 input,
.questions input,
body.page input {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 2.083vw;
  font-size: 1.25vw;
  height: 2.604vw;
  padding: 0.781vw;
  width: 28.125vw;
}
.art1 a,
.articles a,
.instr1 a,
.instructions a,
.quest1 a,
.questions a,
body.page a {
  text-decoration: none;
}
.art1 a.logotype,
.articles a.logotype,
.instr1 a.logotype,
.instructions a.logotype,
.quest1 a.logotype,
.questions a.logotype,
body.page a.logotype {
  background: no-repeat top/100% url(images/8178db2f836326a2ad27.svg);
  display: block;
  height: 2.083vw;
  margin: 0 auto;
  width: 5.208vw;
}
.art1 .bannerhead,
.articles .bannerhead,
.instr1 .bannerhead,
.instructions .bannerhead,
.quest1 .bannerhead,
.questions .bannerhead,
body.page .bannerhead {
  align-items: center;
  background: no-repeat top/100% url(images/48a42454eac5e27c30b9.svg);
  box-sizing: border-box;
  display: flex;
  height: 22.292vw;
  justify-content: center;
  width: 95.833vw;
}
.art1 .posthead,
.articles .posthead,
.instr1 .posthead,
.instructions .posthead,
.quest1 .posthead,
.questions .posthead,
body.page .posthead {
  align-items: flex-start;
  background: no-repeat top/100% url(images/48a42454eac5e27c30b9.svg);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 22.292vw;
  justify-content: flex-end;
  padding: 1.042vw;
  width: 95.833vw;
}
.art1 .posthead h1,
.articles .posthead h1,
.instr1 .posthead h1,
.instructions .posthead h1,
.quest1 .posthead h1,
.questions .posthead h1,
body.page .posthead h1 {
  color: #fff9ef;
  color: var(--cream);
  margin: 0 0 2.083vw;
  width: 78.594vw;
}
.art1 .postheadcategories,
.articles .postheadcategories,
.instr1 .postheadcategories,
.instructions .postheadcategories,
.quest1 .postheadcategories,
.questions .postheadcategories,
body.page .postheadcategories {
  -moz-column-gap: 0.521vw;
  column-gap: 0.521vw;
  display: flex;
  flex-direction: row;
  font-size: 0.938vw;
  justify-content: center;
}
.art1 button.a_smallhashtag,
.articles button.a_smallhashtag,
.instr1 button.a_smallhashtag,
.instructions button.a_smallhashtag,
.quest1 button.a_smallhashtag,
.questions button.a_smallhashtag,
body.page button.a_smallhashtag {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 1.563vw;
  color: #fb6217;
  color: var(--orange);
  display: flex;
  font-size: 0.833vw;
  line-height: 0.99vw;
  padding: 0.521vw 1.25vw;
  width: -moz-fit-content;
  width: fit-content;
}
.art1 button.avatar,
.articles button.avatar,
.instr1 button.avatar,
.instructions button.avatar,
.quest1 button.avatar,
.questions button.avatar,
body.page button.avatar {
  border: none;
  border-radius: 2.083vw;
  height: 2.344vw;
  width: 2.344vw;
}
.art1 button#fill,
.articles button#fill,
.instr1 button#fill,
.instructions button#fill,
.quest1 button#fill,
.questions button#fill,
body.page button#fill {
  background-color: #fb6217;
  background-color: var(--orange);
  color: #fff9ef;
  color: var(--cream);
}
.art1 .author,
.articles .author,
.instr1 .author,
.instructions .author,
.quest1 .author,
.questions .author,
body.page .author {
  background-color: #fb6217;
  background-color: var(--orange);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 1.563vw;
  color: #fff9ef;
  color: var(--cream);
  display: flex;
  font-size: 0.833vw;
  line-height: 0.99vw;
  margin: 29.8vw 0 0;
  padding: 0.521vw 1.25vw;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
}
.art1 .sitecategories,
.articles .sitecategories,
.instr1 .sitecategories,
.instructions .sitecategories,
.quest1 .sitecategories,
.questions .sitecategories,
body.page .sitecategories {
  -moz-column-gap: 0.521vw;
  column-gap: 0.521vw;
  display: flex;
  flex-direction: row;
  font-size: 0.938vw;
  justify-content: center;
  margin: 2.083vw 0;
}
.art1 .number,
.articles .number,
.instr1 .number,
.instructions .number,
.quest1 .number,
.questions .number,
body.page .number {
  align-items: center;
  background-color: #fb6217;
  background-color: var(--orange);
  border-radius: 2.083vw;
  color: #fff9ef;
  color: var(--cream);
  display: flex;
  font-size: 2.083vw;
  height: 3.646vw;
  justify-content: center;
  width: 3.646vw;
}
.art1 blockquote,
.articles blockquote,
.instr1 blockquote,
.instructions blockquote,
.quest1 blockquote,
.questions blockquote,
body.page blockquote {
  box-sizing: border-box;
  font-size: 2.5vw;
  line-height: 3.375vw;
  margin: 3.125vw 0;
  padding: 1.563vw 5.521vw;
  width: 63.438vw;
}
.art1 blockquote.yellow,
.articles blockquote.yellow,
.instr1 blockquote.yellow,
.instructions blockquote.yellow,
.quest1 blockquote.yellow,
.questions blockquote.yellow,
body.page blockquote.yellow {
  background-color: #f6d81f;
  background-color: var(--yellow);
  margin-bottom: 0;
}
.art1 blockquote.blue,
.articles blockquote.blue,
.instr1 blockquote.blue,
.instructions blockquote.blue,
.quest1 blockquote.blue,
.questions blockquote.blue,
body.page blockquote.blue {
  background-color: #b6cafa;
  background-color: var(--blue);
}
.art1 img.twoimgarticle,
.articles img.twoimgarticle,
.instr1 img.twoimgarticle,
.instructions img.twoimgarticle,
.quest1 img.twoimgarticle,
.questions img.twoimgarticle,
body.page img.twoimgarticle {
  -moz-column-gap: 1.302vw;
  column-gap: 1.302vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.art1 img.bigarticleimg,
.articles img.bigarticleimg,
.instr1 img.bigarticleimg,
.instructions img.bigarticleimg,
.quest1 img.bigarticleimg,
.questions img.bigarticleimg,
body.page img.bigarticleimg {
  border-radius: 1.563vw;
  height: 22.292vw;
  width: 63.438vw;
}
.art1 img.imgbetweenpandp,
.articles img.imgbetweenpandp,
.instr1 img.imgbetweenpandp,
.instructions img.imgbetweenpandp,
.quest1 img.imgbetweenpandp,
.questions img.imgbetweenpandp,
body.page img.imgbetweenpandp {
  margin: 3.125vw 0;
}
.art1 img.imgfirst,
.articles img.imgfirst,
.instr1 img.imgfirst,
.instructions img.imgfirst,
.quest1 img.imgfirst,
.questions img.imgfirst,
body.page img.imgfirst {
  margin: 2.083vw 0 0;
}
.art1 img.imgbetweenhandp,
.articles img.imgbetweenhandp,
.instr1 img.imgbetweenhandp,
.instructions img.imgbetweenhandp,
.quest1 img.imgbetweenhandp,
.questions img.imgbetweenhandp,
body.page img.imgbetweenhandp {
  margin: 2.083vw 0 3.125vw;
}
.art1 img.smallarticleimg,
.articles img.smallarticleimg,
.instr1 img.smallarticleimg,
.instructions img.smallarticleimg,
.quest1 img.smallarticleimg,
.questions img.smallarticleimg,
body.page img.smallarticleimg {
  border-radius: 1.563vw;
  height: 22.292vw;
  width: 31.094vw;
}
.art1 img#soon,
.articles img#soon,
.instr1 img#soon,
.instructions img#soon,
.quest1 img#soon,
.questions img#soon,
body.page img#soon {
  width: 13.958vw;
}
.art1 .a_categoriescard,
.articles .a_categoriescard,
.instr1 .a_categoriescard,
.instructions .a_categoriescard,
.quest1 .a_categoriescard,
.questions .a_categoriescard,
body.page .a_categoriescard {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: 0.104vw solid #fb6217;
  border: 0.104vw solid var(--orange);
  border-radius: 1.563vw;
  display: block;
  height: 23.438vw;
  padding: 1.042vw;
  width: 31.094vw;
}
.art1 .a_cardnamelabel,
.articles .a_cardnamelabel,
.instr1 .a_cardnamelabel,
.instructions .a_cardnamelabel,
.quest1 .a_cardnamelabel,
.questions .a_cardnamelabel,
body.page .a_cardnamelabel {
  background-color: #fb6217;
  background-color: var(--orange);
  border: none;
  color: #fff9ef;
  color: var(--cream);
  font-family: Vela Sans;
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 1vw;
  outline: 0.521vw dotted #fff9ef;
  outline: 0.521vw dotted var(--cream);
  outline-offset: -0.26vw;
  padding: 1.3vw 1.563vw 1.7vw;
  text-transform: lowercase;
  width: -moz-fit-content;
  width: fit-content;
}
.art1 section.postcenter,
.articles section.postcenter,
.instr1 section.postcenter,
.instructions section.postcenter,
.quest1 section.postcenter,
.questions section.postcenter,
body.page section.postcenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1.875vw 0 0;
}
.art1 section.postblock,
.articles section.postblock,
.instr1 section.postblock,
.instructions section.postblock,
.quest1 section.postblock,
.questions section.postblock,
body.page section.postblock {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 63.438vw;
}
.art1 section.blocklinks,
.articles section.blocklinks,
.instr1 section.blocklinks,
.instructions section.blocklinks,
.quest1 section.blocklinks,
.questions section.blocklinks,
body.page section.blocklinks {
  margin: 5.052vw 0;
}
.art1 .instruments,
.articles .instruments,
.instr1 .instruments,
.instructions .instruments,
.quest1 .instruments,
.questions .instruments,
body.page .instruments {
  -moz-column-gap: 4.479vw;
  column-gap: 4.479vw;
  display: flex;
  margin: 1.042vw 0 0;
}
.art1 .instrumentblock,
.articles .instrumentblock,
.instr1 .instrumentblock,
.instructions .instrumentblock,
.quest1 .instrumentblock,
.questions .instrumentblock,
body.page .instrumentblock {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.406vw;
}
.art1 .instrumentsquare,
.articles .instrumentsquare,
.instr1 .instrumentsquare,
.instructions .instrumentsquare,
.quest1 .instrumentsquare,
.questions .instrumentsquare,
body.page .instrumentsquare {
  align-items: center;
  background-color: #b6cafa;
  background-color: var(--blue);
  border-radius: 1.563vw;
  display: flex;
  height: 9.115vw;
  justify-content: center;
  width: 9.115vw;
}
.art1 .step,
.articles .step,
.instr1 .step,
.instructions .step,
.quest1 .step,
.questions .step,
body.page .step {
  align-items: center;
  -moz-column-gap: 2.5vw;
  column-gap: 2.5vw;
  display: flex;
  flex-direction: row;
  margin: 1.042vw 0 0;
}
@font-face {
  font-family: Aeonik Pro;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/AeonikPro-Light.otf) format('opentype'),
    url(fonts/AeonikPro-Light.otf) format('opentype');
}
@font-face {
  font-family: Aeonik Pro;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/AeonikPro-Medium.otf) format('opentype'),
    url(fonts/AeonikPro-Medium.otf) format('opentype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Inter-Regular.ttf) format('truetype'),
    url(fonts/Inter-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Inter-SemiBold.ttf) format('truetype'),
    url(fonts/Inter-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: Vela Sans;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/VelaSans-Regular.otf) format('opentype'),
    url(fonts/VelaSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: Vela Sans;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/VelaSans-Medium.otf) format('opentype'),
    url(fonts/VelaSans-Medium.otf) format('opentype');
}
@font-face {
  font-family: Vela Sans;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/VelaSans-SemiBold.otf) format('opentype'),
    url(fonts/VelaSans-SemiBold.otf) format('opentype');
}
@font-face {
  font-family: Polite Type;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PoliteType-Regular.ttf) format('truetype'),
    url(fonts/PoliteType-Regular.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Aeonik Pro, Helvetica, Arial, sans-serif;
  font-weight: 500;
}
body.page .instructionsblock {
  -moz-column-gap: 1.302vw;
  column-gap: 1.302vw;
  display: flex;
}
body.stylegide {
  background-color: #fff9ef;
  background-color: var(--cream);
  color: #000;
  color: var(--black);
  font-family: Vela Sans, Helvetica, Arial, sans-serif;
  font-size: 2.604vw;
  font-weight: 500;
  height: 200vw;
  line-height: 3.073vw;
  overflow-x: hidden;
}
body.stylegide h1 {
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.458vw;
}
body.stylegide h2 {
  font-size: 6.25vw;
  line-height: 7.344vw;
  margin: 6.25vw 0 3.125vw;
}
body.stylegide header {
  align-items: center;
  background: no-repeat top/cover url(images/2a3bc18821e36e2b7cc0.svg);
  display: flex;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
}
body.stylegide footer {
  background: no-repeat top/cover url(images/5afd0c840cc02e51471d.svg);
  height: 20vh;
  margin-top: 16.625vw;
}
body.stylegide .self {
  background: no-repeat top/100% url(images/d7360c4366176d8c4807.svg);
  height: 17.575vw;
  width: 43.646vw;
}
body.stylegide .bluelabel {
  align-items: center;
  background: no-repeat top/100% url(images/bcfe9f36368f02d6db1d.svg);
  display: flex;
  height: 5.833vw;
  justify-content: center;
  left: 54.823vw;
  position: absolute;
  top: 35vw;
  transform: rotate(-17deg);
  width: 21.875vw;
}
body.stylegide .bluelabel p {
  color: #fb6217;
  color: var(--orange);
  font-size: 2.708vw;
  font-weight: 600;
  text-transform: lowercase;
}
body.stylegide .navcenter {
  align-items: center;
  display: flex;
  height: 56.25vw;
  left: 0;
  position: absolute;
  width: 20vw;
}
body.stylegide nav {
  display: flex;
  flex-direction: column;
  height: 14.583vw;
  justify-content: space-between;
  margin: 0 0 0 4.583vw;
  position: fixed;
}
body.stylegide a {
  color: #000;
  color: var(--black);
  font-size: 1.25vw;
  line-height: 1.458vw;
  mix-blend-mode: difference;
  text-decoration: none;
}
body.stylegide a:hover {
  color: #fb6217;
  color: var(--orange);
}
body.stylegide p.smalltext {
  display: block;
  font-size: 1.25vw;
}
body.stylegide p#fortybanner {
  margin: -0.6vw 0 0 -0.6vw;
}
body.stylegide p#twentyonebanner {
  margin: -3.06vw 0 3.125vw 4vw;
}
body.stylegide p#twentyonepost {
  margin: -7.8vw 0 4.7vw 38vw;
}
body.stylegide p#fortypost {
  margin: -2.7vw 0 0 38vw;
}
body.stylegide section {
  padding: 8.333vw 0 0 26.667vw;
  width: 95vw;
}
body.stylegide section#about {
  padding-top: 13.542vw;
  position: relative;
}
body.stylegide section#graphics .label {
  animation: label 6s linear infinite paused;
  background: no-repeat top/100% url(images/5a0c393cc9e03e9f9e51.png);
  height: 20vw;
  margin-bottom: -7vw;
  margin-left: -2.2vw;
  margin-top: 1vw;
  width: 45vw;
}
@keyframes label {
  0%,
  11.5% {
    background: no-repeat top/100% url(images/5a0c393cc9e03e9f9e51.png);
  }
  12.5%,
  24% {
    background: no-repeat top/100% url(images/7d5e81b956c00ce9b00d.png);
  }
  25%,
  36.5% {
    background: no-repeat top/100% url(images/4b08cbaac61ca703fde7.png);
  }
  37.5%,
  49% {
    background: no-repeat top/100% url(images/0b97c879c7e267258aa6.png);
  }
  50%,
  61.5% {
    background: no-repeat top/100% url(images/beba794480ad7a5d2e4e.png);
  }
  62.5%,
  74% {
    background: no-repeat top/100% url(images/3f8ba4b3abab0c0b5f58.png);
  }
  75%,
  86.5% {
    background: no-repeat top/100% url(images/5a0c393cc9e03e9f9e51.png);
  }
  87%,
  to {
    background: no-repeat top/100% url(images/277eb779cd14207e3822.png);
  }
}
body.stylegide section#graphics .boxes {
  animation: boxes 3s linear infinite paused;
  background: no-repeat top/100% url(images/176c136e86b1c01675cb.png);
  height: 70vw;
  margin-bottom: -2vw;
  margin-left: -0.6vw;
  margin-top: 2.5vw;
  width: 70vw;
}
@keyframes boxes {
  0%,
  32% {
    background: no-repeat top/100% url(images/176c136e86b1c01675cb.png);
  }
  33%,
  65% {
    background: no-repeat top/100% url(images/88fceb629830194673d5.png);
  }
  66%,
  to {
    background: no-repeat top/100% url(images/341eb7febdd8c33bc271.png);
  }
}
body.stylegide section#grid .bannergrid {
  animation: bunnergrid 4s linear infinite paused;
  background: no-repeat top/100% url(images/795737f8abec6c7771a3.png);
  height: 40.1vw;
  margin-bottom: 2vw;
  margin-left: -3.7vw;
  margin-top: 3vw;
  width: 68vw;
}
@keyframes bunnergrid {
  0%,
  24% {
    background: no-repeat top/100% url(images/795737f8abec6c7771a3.png);
  }
  25%,
  49% {
    background: no-repeat top/100% url(images/49595da259e98aee79f2.png);
  }
  50%,
  74% {
    background: no-repeat top/100% url(images/921eb4635cf3cc4a6adf.png);
  }
  75%,
  to {
    background: no-repeat top/100% url(images/c632e1cfe4e2037c80c8.png);
  }
}
body.stylegide section#grid .postgrid {
  animation: postgrid 4s linear infinite paused;
  background: no-repeat top/100% url(images/b60954306d3b8d70b4cb.png);
  height: 40vw;
  margin-bottom: 2vw;
  margin-left: -0.4vw;
  margin-top: 3vw;
  width: 40vw;
}
@keyframes postgrid {
  0%,
  24% {
    background: no-repeat top/100% url(images/b60954306d3b8d70b4cb.png);
  }
  25%,
  49% {
    background: no-repeat top/100% url(images/d89d5f11fe6aaf0bcc35.png);
  }
  50%,
  74% {
    background: no-repeat top/100% url(images/bbfb918e65612c0e7310.png);
  }
  75%,
  to {
    background: no-repeat top/100% url(images/44cf2c02888f1decf118.png);
  }
}
body.stylegide .fontsbackgorund {
  background: no-repeat top/100% url(images/9ec7ec899e7186b60d46.svg);
  height: 95.3vw;
  margin: 8.333vw 0 0;
}
body.stylegide button {
  align-items: center;
  background-color: #fff9ef;
  background-color: var(--cream);
  border: none;
  color: #fb6217;
  color: var(--orange);
  -moz-column-gap: 1.25vw;
  column-gap: 1.25vw;
  display: flex;
  font-size: 1.25vw;
  font-weight: 500;
  margin: 1.458vw 0 0 -0.3vw;
}
body.stylegide button:hover {
  cursor: pointer;
  opacity: 0.8;
}
body.stylegide .heading {
  align-items: center;
  -moz-column-gap: 2.292vw;
  column-gap: 2.292vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 3.125vw;
}
body.stylegide .number {
  align-items: center;
  background-color: #fb6217;
  background-color: var(--orange);
  border-radius: 2.083vw;
  color: #fff9ef;
  color: var(--cream);
  display: flex;
  height: 3.906vw;
  justify-content: space-around;
  width: 3.906vw;
}
body.stylegide .logotypeanimation {
  align-items: center;
  animation: animat-1 4s linear infinite paused;
  background: no-repeat top/100% url(images/8a3262770013715ca231.png);
  display: flex;
  height: 30vw;
  justify-content: center;
  margin-bottom: -5vw;
  margin-top: 5vw;
  padding: 20vw;
  position: relative;
  width: 50vw;
}
@keyframes animat-1 {
  0%,
  10% {
    background: no-repeat top/100% url(images/8a3262770013715ca231.png);
  }
  11%,
  16% {
    background: no-repeat top/100% url(images/b05afa9b345c4bcc658c.png);
  }
  17%,
  22% {
    background: no-repeat top/100% url(images/41d1a4fb665fe596aba0.png);
  }
  23%,
  28% {
    background: no-repeat top/100% url(images/3372541f0f7034535973.png);
  }
  29%,
  34% {
    background: no-repeat top/100% url(images/74fb64c2e2c3ff2a34ba.png);
  }
  35%,
  60% {
    background: no-repeat top/100% url(images/a53eee4d2a97d945185b.png);
  }
  61%,
  79% {
    background: no-repeat top/100% url(images/5914e7f10026b5c3c48b.png);
  }
  80%,
  to {
    background: no-repeat top/100% url(images/98d58e75a77152fb6b32.png);
  }
}
body.stylegide .colorcolumns {
  -moz-column-gap: 11.302vw;
  column-gap: 11.302vw;
  display: flex;
  margin-bottom: 3.125vw;
  position: relative;
}
body.stylegide .maincolors {
  width: 33.229vw;
}
body.stylegide .addcolors {
  width: 22.188vw;
}
body.stylegide .colorsbox {
  -moz-column-gap: 3.229vw;
  column-gap: 3.229vw;
  display: flex;
  flex-direction: row;
  margin-top: 3.125vw;
}
body.stylegide .colorsection {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 2.604vw;
}
body.stylegide .orangecolor {
  background-color: #fb6217;
  background-color: var(--orange);
  border-radius: 5.208vw;
  display: block;
  height: 8.958vw;
  width: 8.958vw;
}
body.stylegide .creamcolor {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: 0.156vw solid #c4c4c4;
  border: 0.156vw solid var(--grey);
}
body.stylegide .bluecolor,
body.stylegide .creamcolor {
  border-radius: 5.208vw;
  display: block;
  height: 8.958vw;
  width: 8.958vw;
}
body.stylegide .bluecolor {
  background-color: #b6cafa;
  background-color: var(--blue);
}
body.stylegide .yellowcolor {
  background-color: #f6d81f;
  background-color: var(--yellow);
}
body.stylegide .greycolor,
body.stylegide .yellowcolor {
  border-radius: 5.208vw;
  display: block;
  height: 8.958vw;
  width: 8.958vw;
}
body.stylegide .greycolor {
  background-color: #c4c4c4;
  background-color: var(--grey);
}
body.stylegide .photos {
  -moz-column-gap: 0.938vw;
  column-gap: 0.938vw;
  display: flex;
  flex-wrap: wrap;
  margin: 3.125vw 0;
  position: relative;
  row-gap: 0.938vw;
}
body.stylegide .polite {
  font-family: Polite Type;
}
body.stylegide img#ourvalues {
  width: 68.229vw;
}
body.stylegide img#arrow {
  width: 1.719vw;
}
body.stylegide img#logoanimation {
  width: 42.396vw;
}
body.stylegide img#distortlogo {
  margin: 3.125vw 0;
  width: 69.688vw;
}
body.stylegide img#filllogo {
  margin-top: 3.125vw;
  width: 56.615vw;
}
body.stylegide img#badcolors {
  margin-top: 3.125vw;
  width: 66.771vw;
}
body.stylegide img#bannergrid {
  margin-top: 3.125vw;
  width: 67.969vw;
}
body.stylegide img#postgrid {
  margin-top: 3.125vw;
  width: 37.396vw;
}
body.stylegide img#photocolors {
  margin-top: 3.125vw;
  width: 33.021vw;
}
body.stylegide img.photowithcolors {
  width: 32.9vw;
}
body.stylegide img#photobanner {
  margin: 3.125vw 0;
  width: 67.969vw;
}
body.stylegide img#photoposter {
  margin: 3.125vw 0;
  width: 21.927vw;
}
body.stylegide img#roundsticker {
  margin: 3.125vw 0;
  transform: rotate(-18deg);
  width: 7.708vw;
}
body.stylegide img#label {
  margin: 3.125vw 0;
  width: 24.896vw;
}
body.stylegide img#altboxes,
body.stylegide img#boxes {
  margin: 3.125vw 0;
  width: 68.125vw;
}
body.stylegide img.photoonehalf {
  width: 33.594vw;
}
body.stylegide img.photofull {
  width: 68.125vw;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  body.stylegide section {
    padding: 8.333vw 0 0 5vw;
  }
  body.stylegide section#about {
    padding-top: 9.365vw;
  }
  body.stylegide .navcenter {
    display: none;
  }
}
body.landing {
  background-color: #fff9ef;
  background-color: var(--cream);
  font-family: Vela Sans, Helvetica, Arial, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  width: 100vw;
}
body.landing a {
  color: #fff9ef;
  color: var(--cream);
  text-decoration: none;
}
body.landing a:hover {
  cursor: pointer;
  opacity: 0.8;
}
body.landing section#about {
  height: 130vw;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}
body.landing section#about .block-about {
  height: 83vw;
  overflow-x: hidden;
  position: relative;
  top: 8vw;
  width: 100vw;
}
body.landing section#about .block-about .blue-raz {
  background: no-repeat top/100% url(images/c2858af1300b45c463a4.png);
  height: 83vw;
  left: 15vw;
  position: relative;
  top: 0;
  width: 67.2vw;
}
body.landing section#about .block-about p.text-about {
  font-size: 2.6vw;
  left: 26vw;
  line-height: 115%;
  position: absolute;
  top: 6.2vw;
}
body.landing section#about .block-about .mobilka-1 {
  background: no-repeat top/100% url(images/b23144972a8008f1059d.png);
  height: 50vw;
  left: 40.5vw;
  position: absolute;
  top: 19.5vw;
  width: 40vw;
}
body.landing section#about .block-about .running-text {
  animation: animat 12s linear infinite;
  background: no-repeat top/100% url(images/c39a69e6c0ac78a6f00c.png);
  height: 11.3vw;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  top: 49.5vw;
  width: 286vw;
}
@keyframes animat {
  0% {
    left: 0;
  }
  to {
    left: -180vw;
  }
}
body.landing section#about .block-about .mobilka-2 {
  background: no-repeat top/100% url(images/d52ac8820643cb08fd93.png);
  height: 50.5vw;
  left: 32vw;
  position: absolute;
  top: 22.5vw;
  width: 27vw;
}
body.landing section#about p.mission {
  font-size: 3.85vw;
  left: 16.6vw;
  line-height: 115%;
  position: absolute;
  top: 104.5vw;
}
body.landing section#opport {
  background: no-repeat top/100% url(images/acbd6c29f5f72afd0999.png);
  height: 77.5vw;
  position: relative;
  width: 100vw;
}
body.landing section#opport p.opport-text {
  font-size: 2.6vw;
  left: 33.2vw;
  line-height: 115%;
  position: relative;
  top: 14.9vw;
}
body.landing section#opport p.podskaz {
  font-size: 1.25vw;
  left: 43vw;
  position: relative;
  top: -21vw;
}
body.landing section#opport .kartochki {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 37vw;
  justify-content: space-around;
  left: -0.5vw;
  position: relative;
  top: 20.9vw;
  width: 100vw;
}
body.landing section#opport .kartochki .k-1 {
  animation: k1 3s linear infinite paused;
  background: no-repeat top/100% url(images/c5866fc5a88e43151a27.png);
  height: 37vw;
  width: 30vw;
}
@keyframes k1 {
  0%,
  13% {
    background: no-repeat top/100% url(images/c5866fc5a88e43151a27.png);
  }
  14%,
  27% {
    background: no-repeat top/100% url(images/b1dc75a4cdb07a11c6c7.png);
  }
  28%,
  41% {
    background: no-repeat top/100% url(images/8af590a33b20066bec70.png);
  }
  42%,
  55% {
    background: no-repeat top/100% url(images/34f57234259612b2bcad.png);
  }
  56%,
  70% {
    background: no-repeat top/100% url(images/49e1850786151f2c5d18.png);
  }
  71%,
  to {
    background: no-repeat top/100% url(images/cd422a790e31100bca6a.png);
  }
}
body.landing section#opport .kartochki .k-2 {
  animation: k2 3s linear infinite paused;
  background: no-repeat top/100% url(images/a8cb69453dd7fdebcb90.png);
  height: 37vw;
  margin-left: -2vw;
  width: 30vw;
}
@keyframes k2 {
  0%,
  13% {
    background: no-repeat top/100% url(images/a8cb69453dd7fdebcb90.png);
  }
  14%,
  27% {
    background: no-repeat top/100% url(images/8a5f3e160da05278b86d.png);
  }
  28%,
  41% {
    background: no-repeat top/100% url(images/dec9ac4acc11746750e3.png);
  }
  42%,
  55% {
    background: no-repeat top/100% url(images/0141d265462218daa30d.png);
  }
  56%,
  70% {
    background: no-repeat top/100% url(images/e7e45fd0fcd42b970fe5.png);
  }
  71%,
  to {
    background: no-repeat top/100% url(images/398300748dfaf5688d8f.png);
  }
}
body.landing section#opport .kartochki .k-3 {
  animation: k3 3s linear infinite paused;
  background: no-repeat top/100% url(images/983ab1094a1570c4c1bf.png);
  height: 37vw;
  margin-left: -2vw;
  width: 30vw;
}
@keyframes k3 {
  0%,
  13% {
    background: no-repeat top/100% url(images/983ab1094a1570c4c1bf.png);
  }
  14%,
  27% {
    background: no-repeat top/100% url(images/7882586d4e334d8781ba.png);
  }
  28%,
  41% {
    background: no-repeat top/100% url(images/0acf763855a52b25580a.png);
  }
  42%,
  55% {
    background: no-repeat top/100% url(images/d67b4859699dfd6ff25f.png);
  }
  56%,
  70% {
    background: no-repeat top/100% url(images/efedb6d1710e0dc16199.png);
  }
  71%,
  to {
    background: no-repeat top/100% url(images/eb863b6d52bb00e67003.png);
  }
}
body.landing section#opport .kartochki .k-1:hover,
body.landing section#opport .kartochki .k-2:hover,
body.landing section#opport .kartochki .k-3:hover {
  animation-play-state: running;
}
body.landing section#content {
  height: 75vw;
  position: relative;
  width: 100vw;
}
body.landing section#content p.tone {
  font-size: 3.85vw;
  left: 12.6vw;
  line-height: 115%;
  position: relative;
  top: 13.3vw;
}
body.landing section#content .nakleiki {
  background: no-repeat top/100% url(images/953ec6b57813fa9a9744.png);
  height: 20.35vw;
  left: 2vw;
  position: relative;
  top: 27.3vw;
  width: 95vw;
}
body.landing section#content p.cont-text {
  font-size: 2.6vw;
  left: 31.6vw;
  line-height: 115%;
  position: relative;
  top: 34.5vw;
}
body.landing section#content .cont-kart {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 22.3vw;
  justify-content: space-around;
  left: 1.5vw;
  position: relative;
  top: 38.9vw;
  width: 96vw;
}
body.landing section#content .cont-kart .cont-cart-1 {
  background: no-repeat top/100% url(images/5a0a7cc2198d16631f48.png);
  height: 22.3vw;
  width: 30.6vw;
}
body.landing section#content .cont-kart .cont-cart-1 .but {
  background: no-repeat top/100% url(images/e317bc3e3b3bceb41b7e.png);
  height: 2vw;
  left: 26.6vw;
  position: relative;
  top: 18.7vw;
  width: 2vw;
}
body.landing section#content .cont-kart .cont-cart-2 {
  background: no-repeat top/100% url(images/804a71b398617bd56709.png);
  height: 22.3vw;
  width: 30.6vw;
}
body.landing section#content .cont-kart .cont-cart-2 .but {
  background: no-repeat top/100% url(images/e317bc3e3b3bceb41b7e.png);
  height: 2vw;
  left: 26.6vw;
  position: relative;
  top: 18.7vw;
  width: 2vw;
}
body.landing section#content .cont-kart .cont-cart-3 {
  background: no-repeat top/100% url(images/22621da40af2d74dfd31.png);
  height: 22.3vw;
  width: 30.6vw;
}
body.landing section#content .cont-kart .cont-cart-3 .but {
  background: no-repeat top/100% url(images/e317bc3e3b3bceb41b7e.png);
  height: 2vw;
  left: 26.6vw;
  position: relative;
  top: 18.7vw;
  width: 2vw;
}
body.landing section#footer {
  align-items: center;
  background: no-repeat top/100% url(images/be03fd451ad1e5800c1a.png);
  display: flex;
  flex-direction: column;
  height: 38.2vw;
  justify-content: space-between;
  position: relative;
  width: 100vw;
}
body.landing section#footer p.zag-fut {
  color: #fff9ef;
  color: var(--cream);
  font-size: 5vw;
  margin-top: 12vw;
}
body.landing section#footer p.podpic {
  color: #fff9ef;
  color: var(--cream);
  font-size: 1.25vw;
  margin-top: -6.5vw;
}
body.landing section#footer input {
  all: unset;
  background: none;
  border: 0;
  border-bottom: 0.156vw solid #fff9ef;
  border-bottom: 0.156vw solid var(--cream);
  box-shadow: none;
  color: #fff9ef;
  color: var(--cream);
  font-size: 1.25vw;
  margin-left: 0.5vw;
  width: 27.2vw;
}
body.landing section#footer form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -4.5vw 0 0;
  position: relative;
  width: 41.6vw;
}
body.landing section#footer button {
  background-color: #fff9ef;
  background-color: var(--cream);
  border: none;
  border-radius: 2.083vw;
  color: #fb6217;
  color: var(--orange);
  display: block;
  font-size: 1.25vw;
  height: 3.021vw;
  margin: 0 -3.5vw 0 0;
  position: relative;
  transition: 0.4s;
  width: 10vw;
}
body.landing section#footer button:hover {
  background-color: #ffa87a;
  background-color: var(--unhoverlink);
  cursor: pointer;
}
body.landing section#footer .social-net {
  bottom: 3vw;
  display: flex;
  flex-direction: row;
  height: 2vw;
  justify-content: space-between;
  left: 41vw;
  position: absolute;
  position: relative;
  width: 11.7vw;
}
body.landing section#footer .social-net .vk {
  background: no-repeat top/100% url(images/170c6442c4379a7a5f28.svg);
  height: 1.6vw;
  width: 2.4vw;
}
body.landing section#footer .social-net .tg {
  background: no-repeat top/100% url(images/4cd783d54c2dbf5ce8c3.svg);
  height: 1.84vw;
  width: 1.97vw;
}
body.landing section#footer .social-net .dzen {
  background: no-repeat top/100% url(images/e3686908ea471733bfa0.svg);
  height: 1.97vw;
  width: 1.97vw;
}
body.landing section.main-page {
  background: no-repeat top/100% url(images/45248e3b4ed2eff16f52.png);
  height: 52.6vw;
  position: relative;
  width: 100vw;
}
body.landing section.main-page * {
  position: relative;
}
body.landing section.main-page p.zag {
  color: #fff9ef;
  color: var(--cream);
  font-size: 7.3vw;
  left: 17.3vw;
  line-height: 95%;
  top: 11.9vw;
}
body.landing section.main-page .round-stick {
  background: no-repeat top/100% url(images/fa992daefffa8da95823.svg);
  height: 10.2vw;
  left: 4.3vw;
  top: -17vw;
  width: 10.2vw;
}
body.landing section.main-page .rec-stick {
  background: no-repeat top/100% url(images/4e888c08491a30d0506b.png);
  height: 14.2vw;
  left: 62.3vw;
  top: -3vw;
  width: 29vw;
}
body.landing section.main-page #graphicsboxes {
  align-items: center;
  background-color: #fb6217;
  background-color: var(--orange);
  border: none;
  color: #fff9ef;
  color: var(--cream);
  -moz-column-gap: 1.25vw;
  column-gap: 1.25vw;
  display: flex;
  font-size: 1.25vw;
  font-weight: 500;
  left: 17.5vw;
  top: 14vw;
}
body.landing section.main-page #graphicsboxes #arrow {
  height: 1.7vw;
  width: 1.7vw;
}
body.landing section.main-page .header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2.3vw;
  justify-content: space-between;
  left: 2.3vw;
  top: 2.3vw;
  width: 79vw;
}
body.landing section.main-page .header .logo {
  background: no-repeat top/100% url(images/da0c7836e32b93c64860.svg);
  height: 2.3vw;
  width: 5.7vw;
}
body.landing section.main-page .header .nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.25vw;
  height: 1.7vw;
  justify-content: space-between;
  width: 40vw;
}
body.art1 .tagsoncardlinedesktop {
  -moz-column-gap: 0.833vw;
  column-gap: 0.833vw;
  display: flex;
  flex-direction: row;
  padding: 19.08vw 1.979vw 0 1.146vw;
  position: relative;
}
body.art1 .avatar {
  background-color: #fff;
  background-color: var(--white);
  border-radius: 1.563vw;
  display: block;
  height: 2.031vw;
  position: relative;
  width: 2.031vw;
}
body.art1 img#firstimg {
  margin: 1.354vw 0 0;
}
body.art1 .articlehead {
  background-color: #000;
  background-color: var(--black);
  border: none;
  color: #fff;
}
